<section class="container containerMin2" *ngIf="estadoEmail==0">
    <section  class="verifyEmailSec">
        <div class="title2 container">
            <p>Verify your email</p>
        </div>
        <p class="mt-20">We have sent you an email to verify your email address, please check your inbox. <br>If you haven't received the email, resend to verify.</p>
        <div class="emailVerifySend"></div>
        <div class="container">
            <button type="button" class="btn btn-outline-warning next" (click)="resend()">Resend</button>
        </div>
        <a href="/ProfilePro">
            <button type="button" class="btn next changeButton">Change email</button>
        </a>
    </section>
 <div class="textv">
        <p>{{text[estadoEmail]}}</p>
    </div>
</section>


<section class="container containerMin2" *ngIf="estadoEmail==1">

 
    <section  class="verifyEmailSec">
        <div class="title2 container">
            <p>Congratulations! Your email has been verified! </p>
        </div>
        <p class="mt-20">Click on ‘Continue’ to edit your profile where you can add you CV and any <br> certificates you have to make your profile more attractive for hirers.</p>
        <div class="emailVerifySend2"></div>
        <div class="container">
            <button type="button" class="btn btn-outline-warning next" (click)="Continue()">Continue</button>
        </div>
      
    </section>
    <div class="textv">
        <p>{{text[estadoEmail]}}</p>
    </div>

</section>

<section class="container containerMin2 containermargionprincipal" *ngIf="estadoEmail==2">
    <section  class="verifyEmailSec">
  
    <form  #updateForm="ngForm" (ngSubmit)="updatepass(updateForm)" action="">
      
            <div class="row">
                <div class=" col-sm-6 ">
                    <p class="title2 titlepassword">Reset your password for OnHive</p>
               
             <br>

                    <input type="password" #email="ngModel" name="pass1" id="pass1" placeholder="New password" class=" validate form-control" required ngModel>
                   
                    <br>
                   
                        <input class="validate form-control" type="password" #pass="ngModel" name="pass2" placeholder=" Confirm new password " required ngModel>
                  <br>
               
                  <div style="text-align: left;" class="textError">{{messageerror}}</div>
                  <br>
                  
                    <button type="submit"  [disabled]="!updateForm.valid" class="btn btn-outline-warning next large grayBtn lefbtnpass">Reset your password</button>
             
                </div>
                <div class="col-sm-6"> 
                    <div class="emailVerifySend3"></div>
                </div>
                
            </div>
 
     
    </form>

</section>
</section>