.content-verified h2{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 35px;
    color: #010973;
}
.content-verified p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 160%;
}
.btn-continue{
    width: 134px;
    height: 47px;
    background-color: #010973;
    color: #FFFFFF;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.btn-continue:hover{
    background-color: #FFFFFF;
    color: #010973;
    border-color: #010973;
}
.containerMin2{
    min-height: 600px;
}
.next{
    right: 0;
}
.containermargionprincipal{
    margin-top: 178px;
}
.titlepassword{
    text-align: left;
   margin: 0px !important;
}
.lefbtnpass{
    float: left !important;
    margin: 0;
}
.changeButton:hover{
    background: none !important;
    color: #010973 !important;
    border: none !important;
    opacity: 0.7 !important;
}