<section>
  <div *ngIf="HomeFormularioNw == 0">
    <div class="container skill">
      <div class="row">
        <div class="title2">
          Check uot your projects
        </div>
      </div>
      <div class="row">
        <div class="col-sm input-group">
          <input type="text" readonly class="form-control" placeholder="Search projects">
          <div class="down" [ngClass]="{'up': up == true}" (click)='list(1)'></div>
        </div>
      </div>
      <div class="list-group" *ngIf='up == true'>
        <div class="list-group-item" *ngFor="let s of skills" (click)='selectskill(s)'>
          <p>{{s}}</p>
        </div>
      </div>
      <div class="col-sm input-group contenedorproyectos">
        <div class="centradoFill">
          <div class="title2"> You don’t have any projects </div>
          <div (click)='getStarted()' class="btnNegro">Get Started</div>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="HomeFormularioNw == 1">
    <div class="container skill">
      <div class="row">
        <div class="title2">
            Name your project
        </div>
      </div>
      <div class="row">
        <div class="col-sm input-group">
          <input type="text"  class="form-control" placeholder="Type project name">
        </div>
      </div>



    </div>
    <div class="buttons container ">

      <div class="btn btn-outline-warning next  " (click)='next()'>
        <p>Next</p>
      </div>
    </div>

  </div>

  <!--div *ngIf="HomeFormularioNw == 2">
    <div class="container skill">
      <div class="row">
        <div class="title2">
          What do you need help with?
        </div>
      </div>
      <div class="row">
        <div class="col-sm input-group">
          <input type="text" readonly class="form-control" placeholder="Select job category">
          <div class="down" [ngClass]="{'up': up == true}" (click)='list(1)'></div>
        </div>
      </div>
      <div class="list-group" *ngIf='up == true'>
        <div class="list-group-item" *ngFor="let s of skills1" (click)='selectskill(s)'>
          <p>{{s}}</p>
        </div>
      </div>

      <div class="buttons container ">
        <div  *ngIf="page > 1" class="btn btn-outline-warning back classnextkt "  (click)='back()'>
          <p>Back</p>
        </div>
        <div class="btn btn-outline-warning next  " (click)='next()'>
          <p>Next</p>
        </div>
      </div>



    </div>
  </div-->


  <div *ngIf="HomeFormularioNw == 2">
    <section>
      <div class="container skill">
        <div class="row">
          <div class="title2">
            What do you need help with?
          </div>
        </div>
        <div class="row">

          <div class="col-sm input-group">
            <div class="input-group-prepend">
              <div class="icon_img setting"></div>
            </div>
            <input type="text" readonly class="form-control" placeholder="Select job category">
            <div class="down" [ngClass]="{'up3': up3 == true}" (click)='list3(1)'></div>
          </div>
        </div>
        <div class="list-group" [hidden]='up3 == false'>
          <div class="list-group-item" *ngFor="let s of skills1" (click)="selectskill(s)">
            <p>{{s}}</p>
          </div>
        </div>
        <div class="skillselct" [hidden]="selectskills == null">
          <div class="skillsel">
            <p>{{selectskills}}</p>
            <div class="close" (click)='close(1)'></div>
          </div>
        </div>
        <div [hidden]="selectskills == null">
          <div class="title2">
            Let’s get specific
          </div>
          <div class="row skill2">
            <div class="col-sm input-group">
              <div class="input-group-prepend">
                <div class="icon_img setting"></div>
              </div>
              <input type="text" readonly class="form-control" [placeholder]="'What '+selectskills+ ' skills do you have?'">
              <div class="down" [ngClass]="{'up3': up4 == true}" (click)='list3(2)'></div>
            </div>
          </div>
          <div class="list-group" [hidden]='up4 == false'>
            <div class="list-group-item" *ngFor="let s of skills2" (click)='selectskill2(s)'>
              <p>{{s}}</p>
            </div>
          </div>
          <div class="skillselct" [hidden]="selectskills2 == null">
            <div class="skillsel ss2">
              <p>{{selectskills}}</p>
              <div class="close" (click)='close(1)'></div>
            </div>
            <div class="skillsel ss3">
              <p>{{selectskills2}}</p>
              <div class="close" (click)='close(2)'></div>
            </div>
          </div>
          <input type="hidden" name="skills" [value]="selectskills2">
        </div>
      </div>
    </section>
  </div>


</section>
