<section>
  <div *ngIf="HomeFormularioNw == 0">
    <div class="container skill">
      <div class="row">
        <div class="title2 t2mar0" >
          Check uot your projects
        </div>
      </div>
      <div class="row">
        <div class="col-sm input-group">
          <input type="text" readonly class="form-control mosnserat" placeholder="Search projects" id="nombreProjects">
          <div class="down" [ngClass]="{'up': up == true}" (click)='list(1)'></div>
        </div>
      </div>
      <div class="list-group" *ngIf='up == true'>
        <div class="list-group-item" *ngFor="let s of childData" (click)='selectskill(s)'>
          <p>{{s.Project}}</p>
        </div>
      </div>
      <div class="contenedorpaddingHome" *ngIf="childData.length != 0">
        <div class="contenedor_PP" *ngFor="let l of childData">
          <div class="contenedor_PP_1">



            <div class="datosneg">
              <div class="">
                Project:
              </div>
              <div class="">
                Status:
              </div>
              <div class="">
                Category:
              </div>
              <div class="">
                Specialized:
              </div>
              <div class="">
                How many people?:
              </div>
              <div class="">
                Job location:
              </div>
              <div class="">
                Additional Comments:
              </div>
            </div>


            <div class="datosneg2">
              <div class="nantext">
                {{l.Project}}
              </div>

              <div class="C{{l.Status}}">

                {{l.Status}}
              </div>
              <div class="bolddatos2">
                {{l.Category}}
              </div>
              <div class="bolddatos2">
                {{ l.Specialized}}
              </div>
              <div class="bolddatos2">
                {{l.Howmanypeople}}
              </div>
              <div class="bolddatos2">
                {{l.Joblocation}}
              </div>
              <div class="">
                {{l.AdditionalComments}}
              </div>

            </div>






          </div>

          <div class="contenedor_PP_2">
            <span class="maplinea"></span>
            <div id="map-canvas" class="">
              <agm-map [latitude]="lat" [longitude]="lng" class="map">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
            </div>
          </div>
        </div>

      </div>




      <div class="col-sm input-group contenedorproyectos" *ngIf="childData.length == 0">
        <div class="centradoFill">
          <div class="title2"> You don’t have any projects </div>
          <div (click)='getStarted()' class="btnNegro">Get Started</div>
        </div>
      </div>



    </div>
  </div>


  <div *ngIf="HomeFormularioNw == 1">
    <div class="container skill">
      <div class="row">
        <div class="title2">
          Name your project
        </div>
      </div>
      <div class="row">
        <div class="col-sm input-group">
          <input type="text" class="form-control" placeholder="Type project name" id="Typeprojectname">
        </div>
      </div>



    </div>
    <div class="buttons container ">

      <div class="btn btn-outline-warning next  " (click)='next()'>
        <p>Next</p>
      </div>
    </div>

  </div>

  <!--div *ngIf="HomeFormularioNw == 2">
    <div class="container skill">
      <div class="row">
        <div class="title2">
          What do you need help with?
        </div>
      </div>
      <div class="row">
        <div class="col-sm input-group">
          <input type="text" readonly class="form-control" placeholder="Select job category">
          <div class="down" [ngClass]="{'up': up == true}" (click)='list(1)'></div>
        </div>
      </div>
      <div class="list-group" *ngIf='up == true'>
        <div class="list-group-item" *ngFor="let s of skills1" (click)='selectskill(s)'>
          <p>{{s}}</p>
        </div>
      </div>

      <div class="buttons container ">
        <div  *ngIf="page > 1" class="btn btn-outline-warning back classnextkt "  (click)='back()'>
          <p>Back</p>
        </div>
        <div class="btn btn-outline-warning next  " (click)='next()'>
          <p>Next</p>
        </div>
      </div>



    </div>
  </div-->


  <div *ngIf="HomeFormularioNw == 2">
    <section>
      <div class="container skill">
        <div class="row">
          <div class="title2">
            What do you need help with?
          </div>
        </div>
        <div class="row">

          <div class="col-sm input-group">
            <!--div class="input-group-prepend">
              <div class="icon_img setting"></div>
            </div-->
            <input type="text" readonly class="form-control" placeholder="Select job category" id="Selectjobcategory">
            <div class="down" [ngClass]="{'up3': up3 == true}" (click)='list3(1)'></div>
          </div>
        </div>
        <div class="list-group" [hidden]='up3 == false'>
          <div class="list-group-item" *ngFor="let s of skills1" (click)="selectskill(s)">
            <p>{{s}}</p>
          </div>
        </div>
        <div class="skillselct" [hidden]="selectskills == null">
          <div class="skillsel">
            <p>{{selectskills}}</p>
            <div class="close" (click)='close(1)'></div>
          </div>
        </div>
        <div [hidden]="selectskills == null">
          <div class="title2 marginleft0">
            Let’s get specific
          </div>
          <div class="row skill2">
            <div class="col-sm input-group">

              <input type="text" readonly class="form-control" [placeholder]="'What '+selectskills+ ' skills do you have?'" id="selectskills">
              <div class="down" [ngClass]="{'up3': up4 == true}" (click)='list3(2)'></div>
            </div>
          </div>
          <div class="list-group" [hidden]='up4 == false'>
            <div class="list-group-item" *ngFor="let s of skills2" (click)='selectskill2(s)'>
              <p>{{s}}</p>
            </div>
          </div>


          <div [hidden]="selectskills2 == null">
            <div class="skillselct" >
              <div class="skillsel ss2">
                <p>{{selectskills}}</p>
                <div class="close" (click)='close(1)'></div>
              </div>
              <div class="skillsel ss3">
                <p>{{selectskills2}}</p>
                <div class="close" (click)='close(2)'></div>
              </div>

              <input type="hidden" name="skills" [value]="selectskills2" id="selectskills2">

              <br>
              <br>

            </div>

<div class="row">
  <div class="title2 ">
    How many people?
  </div>
</div>
          <div class="row skill2Howmany">


            <div class="col-sm-6 input-group">

              <input type="text" readonly class="form-control" [placeholder]="howmany" id="selmanypeople">
              <div class="down"  (click)='list4()'></div>
            </div>

            <div class="col-sm empleos1012">
              Average rate 10 - 12 / Hour
              </div>

          </div>
          <div class="col-sm-6 list-group" [hidden]='up5 == false'>
            <div class="list-group-item" *ngFor="let s of skills2Howmany" (click)='selectskill2up5(s)'>
              <p>{{s}}</p>
            </div>
          </div>


            </div>
          <div class="form-check checkbox">
              <input type="checkbox" class="form-check-input input-assumpte" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1"><span>All workers must take a background test.</span></label>
            </div>


            <div class="form-check checkbox">
              <input type="checkbox" class="form-check-input input-assumpte" id="exampleCheck2">
              <label class="form-check-label" for="exampleCheck2"><span>All workers must pass a background test.</span></label>
            </div>
        </div>

      </div>

      <!--div class="row addcust" (click)="addcustomer()">
        <div class="input-group-prepend">
          <div class="icon_img btnround"></div>
        </div>
        <p>Add another category</p>
      </div-->



      <div class="buttons container ">
        <div *ngIf="page > 1" class="btn btn-outline-warning back classnextkt " (click)='back()'>
          <p>Back</p>
        </div>
        <div class="btn btn-outline-warning next  " (click)='next()'>
          <p>Next</p>
        </div>
      </div>

    </section>
  </div>



  <div *ngIf="HomeFormularioNw == 3">
    <div class="container skill">
      <div class="row">
        <div class="title2">
          Where is the job’s location?
        </div>
      </div>










      <div class="fields20 container">

        <div class="row">

          <div class="col-sm submensajeshire">
            Where is the job’s location?
          </div>

          <div class="col-sm submensajeshire">
What’s your job’s timeframe
          </div>
        </div>
        <div class="row">

          <div class="col-sm input-group">
            <input type="text" class="form-control" id="EnterAddress1" name="EnterAddress1" ngModel #name="ngModel" placeholder="Enter Address">
          </div>
          <div class="col-sm input-group">
            <input class="form-control" id="date" name="date" placeholder="Date" type="text" />

            <span class="tospan">to</span>
            <input class="form-control" id="date1" name="date1" placeholder="Date" type="text" />
          </div>
        </div>

        <br>
        <div class="row">

          <div class="col-sm submensajeshire">
Set hiring radius
          </div>
        </div>
        <!--div class="row ">

          <div class="col-sm input-group">

            <input type="email" class="form-control" placeholder="Enter radius in miles" id="Enterradiusinmiles" name="radius" #radius="ngModel" ngModel>
          </div>
          <div class="col-sm input-group">

          </div>
        </div-->

        <div class="row skill2Howmany">


          <div class="col-sm-6 input-group">

            <input type="text" readonly class="form-control" [placeholder]="Enterradiusinmiles" id="Enterradiusinmiles">
            <div class="down"  (click)='list5()'></div>
          </div>



        </div>
        <div class="col-sm-6 list-group" [hidden]='up6 == false'>
          <div class="list-group-item" *ngFor="let s of skills2Howmany" (click)='selectskill2up6(s)'>
            <p>{{s}}</p>
          </div>
        </div>

<hr>
      </div>
      <div class="info container">
        <p>Are you willing to hire outside of your hiring radius?</p>
      </div>
      <div class="fields2 container">
        <div class="row">


          <div class="btnHome">
            Yes
          </div>

          <div class="btnHome">
            No
          </div>

        </div>
      </div>
      <div class="title2 container">
        <p>Please enter extra hourly rate you’d pay for outside
          <br>your hiring radius.</p>
      </div>

<div class="row">

  <div class="col-sm ">
<div class="custom-slider" style="margin-top:30px">
    <ng5-slider [(value)]="value" class="inputrangenaranja" [options]="options"></ng5-slider>
  </div>
  </div>

</div>



      <!--div class="field3 container">
        <div class="row">
          <!--div class="col-sm input-group">
            <div class="input-group-prepend">
              <div class="icon_img arrow"></div>
            </div>
            <input type="text" class="form-control" placeholder="Enter city or zipcode." name="zipcode" #zipcode="ngModel" ngModel>
          </div>
        </div>
      </div-->

    </div>
    <div class="buttons container ">
      <div *ngIf="page > 1  " class="btn btn-outline-warning back classnextkt " (click)='back()'>
        <p>Back</p>
      </div>
      <div *ngIf="page < 2  " class="btn btn-outline-warning next" (click)='next()'>
        <p>Next</p>
      </div>

      <div *ngIf="page == 3  " class="btn btn-outline-warning next" (click)='final()'>
        <p>Finish</p>
      </div>
    </div>


  </div>

</section>
