<form #formData='ngForm' (ngSubmit)="onSubmit(formData)" method="post" class="contenedorHireTotal">
  <img class="image-about" src="../../../assets/imagenes/About You.svg" alt="">
  <div class="container">
    <div class="info container">
      <p>Enter your personal information</p>
    </div>
    <div class="fields container">
      <div class="row">
        <div class="col-sm input-group">
          <input required type="text" class="input validate form-control" placeholder="First Name" (ngModel)="FirstName" name="FirstName" id="FirstName" minlength="4">
        </div>
        <div class="col-sm input-group">
          <input required type="text" class="input validate form-control" placeholder="Last Name" (ngModel)="LastName" id="LastName" name="LastName">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm input-group">
          <input required type="text" class="input validate form-control" placeholder="E-mail" (ngModel)="Email" name="Email" id="Email">
        </div>
        <div class="col-sm input-group">
          <input required type="text" class="input validate form-control" placeholder="Phone Number" (ngModel)="PhoneNumber" id="PhoneNumber" name="PhoneNumber">
        </div>
      </div>
    </div>
    <div class="info container">
      <p>Enter your password</p>
      <span> Your username will be your e-mail address.</span>
    </div>
    <div class="fields container">
      <div class="row">
        <div class="col-sm input-group">
          <input required type="password" class="input validate form-control" placeholder="Password" (ngModel)="Password" name="Password" id="Password">
        </div>
        <div class="col-sm input-group">
          <input required type="password" class="input validate form-control" placeholder="Password confirmation" (ngModel)="Password" name="Password confirmation" id="Passwordconfirmation">
        </div>
      </div>
    </div>
    <div class="info container">
      <p>Where are you located?</p>
    </div>
    <div class="fields container">
      <div class="row">
        <div class="col-sm-6 input-group">
          <input type="text" required class="input validate form-control" placeholder="Enter city or zipcode." (ngModel)="Entercityorzipcode" id="Entercityorzipcode" name="Entercityorzipcode">
        </div>
      </div>
    </div>  
    <div class="buttons container">
      <span class="error">{{error}} </span>
      <br>
      <button type='submit' name="button" class="btn btn-outline-warning next">Next</button>
    </div>
  </div>
</form>