<form action="" class="contenedorHireTotal">
  <img class="imagenabout" src="../../../assets/imagenes/About.svg" alt="">
  <section>
    <div class="title container">
      <p>Tell us more <span>about you</span></p>
    </div>

    <div class="info container">
      <p>Enter your personal information</p>
      </div>
    <div class="fields container">
      <div class="row">
        <div class="col-sm input-group">
          <div class="input-group-prepend">
            <div class="icon_img prof"></div>
          </div>
          <input type="text" class="form-control" placeholder="First Name">
        </div>
        <div class="col-sm input-group">
          <div class="input-group-prepend">
            <div class="icon_img prof"></div>
          </div>
          <input type="text" class="form-control" placeholder="Last Name">
        </div>
      </div>
      <div class="row mt-3">

        <div class="col-sm input-group">
          <div class="input-group-prepend">
            <div class="icon_img tel"></div>
          </div>
          <input type="text" class="form-control" placeholder="Phone Number">
        </div>

        <div class="col-sm input-group">

        </div>
      </div>
    </div>
    <div class="info container">
      <p>Enter account information.</p>
      <p>Your username will be your e-mail address.</p>
    </div>
    <div class="fields2 container">
      <div class="row">
        <div class="col-sm input-group">
          <div class="input-group-prepend">
            <div class="icon_img email"></div>
          </div>
          <input type="text" class="form-control" placeholder="E-mail">
        </div>
        <div class="col-sm input-group">
          <div class="input-group-prepend">
            <div class="icon_img pass"></div>
          </div>
          <input type="password" class="form-control" placeholder="Password">
        </div>
      </div>
    </div>
    <div class="title2 container">
      <p>Where are you located?</p>
    </div>
    <div class="field3 container">
      <div class="row">
        <div class="col-sm input-group">
          <div class="input-group-prepend">
            <div class="icon_img arrow"></div>
          </div>
          <input type="text" class="form-control" placeholder="Enter city or zipcode.">
        </div>
      </div>
    </div>
  </section>
  <div class="buttons container">
    <div class="btn btn-outline-warning next">
      <p>Finish</p>
    </div>
    <div class="btn back"></div>
  </div>
</form>
