
.move{
    margin-bottom: 18px;
}
.fomatlink{
    background: #E76800;
    color: white;
    width: 96px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.025em;
    border: 0;
    border-radius: 0;
    padding-left: 33px;
    cursor: pointer;
}
.linkcont{
    max-width: 490px;
    margin-top: 19px;
}
input::placeholder{
    color: rgba(0, 0, 0, 0.5);
}
.customers, .customers2{
    max-width: 797.62px;
    margin-top: 4px;
}
.customers2{
    margin-top: 19px;
}
.alertMessage{
    color: #F43E40;
    position: absolute;
    bottom: -16px;
    left: 65px;
    font-size: 13px;
}