<form #formPro="ngForm" (ngSubmit)="test(formPro)" action="">
  <div class="title container">
    <p>{{title[select]}}</p>
  </div>
  <section [hidden]='page > 0'>
    <div class="fields container">
      <div class="row">
        <div class="col-sm input-group">
          <div class="input-group-prepend">
            <div class="icon_img prof"></div>
          </div>
          <input type="text" class="form-control" id="name" name="name" ngModel #name="ngModel" placeholder="First Name">
        </div>
        <div class="col-sm input-group">
          <div class="input-group-prepend">
            <div class="icon_img prof"></div>
          </div>
          <input type="text" class="form-control" placeholder="Last Name" name="lastname" ngModel #lastname="ngModel">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm input-group">
          <div class="input-group-prepend">
            <div class="icon_img email"></div>
          </div>
          <input type="email" class="form-control" placeholder="E-mail" name="email" #email="ngModel" ngModel>
        </div>
        <div class="col-sm input-group">
          <div class="input-group-prepend">
            <div class="icon_img tel"></div>
          </div>
          <input type="text" class="form-control" placeholder="Phone Number" name="phone" #phone="ngModel" ngModel>
        </div>
      </div>
    </div>
    <div class="info container">
      <p>Enter account information.</p>
      <p>Your username will be your e-mail address.</p>
    </div>
    <div class="fields2 container">
      <div class="row">
        <div class="col-sm input-group">
          <div class="input-group-prepend">
            <div class="icon_img email"></div>
          </div>
          <input type="text" class="form-control" placeholder="E-mail" name="user" #user="ngModel" ngModel>
        </div>
        <div class="col-sm input-group">
          <div class="input-group-prepend">
            <div class="icon_img pass"></div>
          </div>
          <input type="password" class="form-control" placeholder="Password" name="password" #password="ngModel" ngModel>
        </div>
      </div>
    </div>
    <div class="title2 container">
      <p>Where are you located?</p>
    </div>
    <div class="field3 container">
      <div class="row">
        <div class="col-sm input-group">
          <div class="input-group-prepend">
            <div class="icon_img arrow"></div>
          </div>
          <input type="text" class="form-control" placeholder="Enter city or zipcode." name="zipcode" #zipcode="ngModel" ngModel>
        </div>
      </div>
    </div>
  </section>
  <section [hidden]='page < 1 || page > 1'>
    <div class="container skill">
      <div class="row">
        <div class="col-sm input-group">
          <div class="input-group-prepend">
            <div class="icon_img setting"></div>
          </div>
          <input type="text" readonly class="form-control" placeholder="Select Skills">
          <div class="down" [ngClass]="{'up': up == true}" (click)='list(1)'></div>
        </div>
      </div>
      <div class="list-group" [hidden]='up == false'>
        <div class="list-group-item" *ngFor="let s of skills" (click)="selectskill(s)">
          <p>{{s}}</p>
        </div>
      </div>
      <div class="skillselct" [hidden]="selectskills == null">
        <div class="skillsel">
          <p>{{selectskills}}</p>
          <div class="close" (click)='close(1)'></div>
        </div>
      </div>
      <div [hidden]="selectskills == null">
        <div class="title">
          <p>Let’s get specific</p>
        </div>
        <div class="row skill2">
          <div class="col-sm input-group">
            <div class="input-group-prepend">
              <div class="icon_img setting"></div>
            </div>
            <input type="text" readonly class="form-control" [placeholder]="'What '+selectskills+ ' skills do you have?'">
            <div class="down" [ngClass]="{'up': up2 == true}" (click)='list(2)'></div>
          </div>
        </div>
        <div class="list-group" [hidden]='up2 == false'>
          <div class="list-group-item" *ngFor="let s of skills2" (click)='selectskill2(s)'>
            <p>{{s}}</p>
          </div>
        </div>
        <div class="skillselct" [hidden]="selectskills2 == null">
          <div class="skillsel ss2">
            <p>{{selectskills}}</p>
            <div class="close" (click)='close(1)'></div>
          </div>
          <div class="skillsel ss3">
            <p>{{selectskills2}}</p>
            <div class="close" (click)='close(2)'></div>
          </div>
        </div>
        <input type="hidden" name="skills" [value]="selectskills2">
      </div>
    </div>
  </section>
  <section [hidden]='page < 2' class="container">
    <div class="texts2 ">
      <p>Reach out to your past satisfied customers to get reviews. The more satisfied customer reviews, the<br> more likely you’ll be hired. </p>
      <p>Share this link to get reviews</p>
    </div>
    <div class="row linkcont">
      <div class="col-sm input-group">
        <div class="input-group-prepend">
          <div class="icon_img link"></div>
        </div>
        <input type="text" placeholder="Link" class="form-control" name="link" ngModel #link="ngModel">
        <div class="input-group-append">
          <div class="input-group-text fomatlink"><p>Link</p></div>
        </div>
      </div>
    </div>
    <div class="texts2 move">
      <p></p>
      <p>Enter E-mails</p>
    </div>
    <div class="row customers" *ngFor="let c of customers">
      <div class="col-sm input-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="icon_img prof"></div>
          </div>
          <input type="text" [placeholder]="c" class="form-control">
        </div>
      </div>
    </div>
    <div class="row addcust" (click)="addcustomer()">
      <div class="input-group-prepend">
        <div class="icon_img btnround"></div>
      </div>
      <p>Add Customer</p>
    </div>
    <div class="texts2">
      <p></p>
      <p>White a message to your customers (Optional)</p>
    </div>
    <div class="row customers2">
    <div class="col-sm input-group">
      <div class="input-group-prepend">
        <div class="icon_img airplane"></div>
      </div>
      <input type="text" class="form-control" placeholder="Say hello!" ngModel name="description" #description="ngModel">
    </div>
  </div>
  </section>
  <div class="buttons container">
    <div class="btn btn-outline-warning back" *ngIf='page > 0 && page < 2' (click)='back()'>
      <p>Back</p>
    </div>
    <div class="btn btn-outline-warning next" (click)='next()' *ngIf='page < 2'>
      <p>Next</p>
    </div>
    <button class="btn btn-outline-warning next" *ngIf="page == 2">Finish</button>
  </div>

</form>
<div class="textv">
  <p>{{text[select]}}</p>
</div>
