
.move{
    margin-bottom: 18px;
}
.fomatlink{
    background: #E76800;
    color: white;
    width: 96px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.025em;
    border: 0;
    border-radius: 0;
    padding-left: 33px;
    cursor: pointer;
}
.linkcont{
    max-width: 490px;
    margin-top: 19px;
}
input::placeholder{
    color: rgba(0, 0, 0, 0.5);
}
.customers, .customers2{
    max-width: 797.62px;
    margin-top: 4px;
}
.customers2{
    margin-top: 19px;
}
.addcust{
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    font-size: 15px;
    letter-spacing: -0.025em;
    color: #2F80ED;
    margin-left: 40px;
}
.addcust p{
    margin-top: 16px;
}
