<div class="container shadow">
    <div class="divcol ">
        <div class="row">
            <div class="col-sm chatrightborder">
                <div class="h--155 backBlue">
                    <div class="input-group divinputsearch">
                        <div class="searchGray absoluteSearch"></div>
                        <input type="text" class="form-control inputbusquechat" placeholder="Search by name or project" name="search" [(ngModel)]="search">
                    </div>
                    <div class="menuOptionFilter">
                        <span (click)="filter(1)" [class.blueColor]="!unread">All</span>
                        <span (click)="filter(2)" [class.blueColor]="unread">Unread <b>({{totalUnread}})</b></span>
                        <!-- <span>Archived</span> -->
                    </div>
                </div>
                <hr>
                <div class="containerH155">
                    <div class="person_user_chat" *ngFor="let u of users | chatText: search | chatSearch: unread ">
                        <div class="divcontainerChat" (click)="initChat(u)">
                            <div class="nombreschat">
                                <div class="profile mini imagenChatPerson" [ngStyle]="{'background-image': 'url('+u.photo+')'}">
                                    <a href="{{u.photo}}" target="_blank"></a>
                                </div>
                                <div class="nombrechatazul title3">{{u.name}}</div>
                                <div class="nombrechatNaranja">{{u.projectname}}</div>
                            </div>
                            <div class="iconsChatUser">
                                <div class="right100p eyeM" [class.eyeN]="!u.noRead"></div>
                                <!-- <div class="folderChat"></div> -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-8">
                <ng-container *ngIf="users.length == 0 && info.user.displayName == 'pro'">
                    <div class="noMessages">
                        <hr class="hr mt-155">
                        <p class="mt-28">Messages will appear when your hirer contacts you after <br>applying to an offer. Get started looking for a new project.</p>
                        <a href="/ExplorePro">
                            <button class="btn blueBtn medium mt-40">Explore</button>
                        </a>
                    </div>
                </ng-container>
                <ng-container *ngIf="chat">
                    <div class="containerChat">
                        <div class="h--155 backBlue">
                            <div class="divCabezera ">
                                <div class="profile mini imagenChatPerson" [ngStyle]="{'background-image': 'url('+photo+')'}"></div>
                                <div class="nombrechatazul title3">{{name}}</div>
                                <div class="nombrechatNaranja">{{projectName}}</div>
                                <button type="button" class="btn blueBtn small pfmt" (click)="modal = true" *ngIf="info.user.displayName == 'hire'; else btnPro">Hire</button>
                                <ng-template #btnPro>
                                    <button type="button" class="btn blueBtn small pfmt">Accept</button>
                                </ng-template>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="containerChat ml-0">
                        <div class="chatContainerHeight containerChat">
                            <ng-container *ngFor="let m of messages">
                                <p class="nomFecha">
                                    {{ m.fecha.toDate() | date: 'MMM, dd h:mm a' }}
                                </p>
                                <div style="overflow: hidden;">
                                    <div class="messageNormal" [class.messageMy]="myId == m.id" *ngIf="!m.offer && !m.accept">
                                        <ng-container *ngIf="!m.adj; else fileAdj">
                                            {{ m.message }}
                                        </ng-container>
                                        <ng-template #fileAdj>
                                            <a [href]="m.message" target="_blank">
                                                <div class="fileIcon" style="margin: 0 auto"></div>
                                                <p class="textAdj">Click to view the file.</p>
                                            </a>
                                        </ng-template>
                                    </div>
                                    <div *ngIf="m.offer && info.user.displayName == 'hire'" class="offerChat">
                                        <p>You have offered <strong>{{m.name}} ${{m.price}}</strong> per hour as a <strong>{{m.team}}</strong>.</p>
                                    </div>
                                    <div *ngIf="m.offer && info.user.displayName == 'pro'" class="offerChat lh-160">
                                        <p><strong>{{name}}</strong> wants to offer you <strong>${{m.price}}</strong> per hour as a <strong>{{m.team}}</strong>.<br> Click on <strong>Accept</strong> if you agree with this offer.</p>
                                    </div>
                                </div>
                            </ng-container>
                        </div>


                        <div class="containerChat mr-0">
                            <div class="mensajescHat">
                                <form action="" (ngSubmit)="chatMessage(idPro, mesg)">
                                    <input type="file" name="adj" id="adj" (change)="adjFile($event)" hidden accept=".pdf, .jpg, .jpeg, .png, .gif, .zip, .rar">
                                    <div class="btnEnviarMsj"><label for="adj"><img src="../../../assets/iconos/enviarMsj.svg"></label></div>
                                    <input class="form-control inputChatFinally" id="msgChat" type="text" name="mesg" placeholder="Write your message" ngModel [(ngModel)]="mesg" autocomplete="off">
                                    <button type="submit" class="blueBtn small"> Send </button>
                                </form>
                            </div>
                        </div>

                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<div class="modalChat" *ngIf="modal">
    <div class="modalChatInt">
        <div class="closeChat" (click)="modal = false"></div>
        <div class="title2 mt-50">
            <p>What is your offer?</p>
        </div>
        <div class="contentPrice">
            <input type="text" class="input" placeholder="$0.00" name="price" #price="ngModel" ngModel [class.errorInput]="!onlyNumber.exec(price.value) && price.value != ''" [class.correctInput]="onlyNumber.exec(price.value)">
            <p>/ per hour</p>
        </div>
        <div class="title2 mt-20">
            <p>In which field?</p>
        </div>
        <div class="input-group select" (click)="up = !up">
            <input type="text" class="form-control" placeholder="Select team" onfocus="this.blur()" [(ngModel)]="skillS" style="cursor: pointer;">
            <div class="order" [ngClass]="{'up': up == true}"></div>
        </div>
        <div class="list-group" [hidden]='up == false'>
            <div class="list-group-item" *ngFor="let s of skills" (click)="skillS = s; up = false">
                <p>{{s}}</p>
            </div>
        </div>
        <button (click)="createOffer(price.value); modal = false" type="button" class="btn blueBtn large" [class.disabled]="price.value == '' || price.value == 0 || skillS == '' || !onlyNumber.exec(price.value)" [disabled]="price.value == '' || price.value == 0 || skillS == '' || !onlyNumber.exec(price.value)">Confirm</button>
    </div>
</div>