.divcol {
    margin-top: 90px;
}

.container {
    height: calc(100vh - 90px);
}

.h--155 {
    height: 155px;
    width: 100%;
    position: relative;
}

.absoluteSearch {
    position: absolute;
    z-index: 1;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 5px;
    margin-top: 25px;
}

.divinputsearch {
    width: calc(100% - 100px);
    margin: 0 auto;
    padding-top: 50px;
}

.chatrightborder {
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
    padding: 0px;
}

.menuOptionFilter {
    text-align: center;
    color: #9D9D9D;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    width: 235px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    margin-left: 10px;
}

.menuOptionFilter span {
    float: left;
    padding-right: 30px;
    cursor: pointer;
}

.menuOptionFilter span:hover {
    color: #010973;
    text-decoration: underline;
}

.blueColor {
    color: #010973;
    text-decoration: underline;
}

.nombreschat {
    cursor: pointer;
}

.menuOptionFilter b {
    color: #FF8600;
}

.inputbusquechat {
    padding-left: 35px;
}

.person_user_chat:hover::before {
    opacity: 1;
}

.person_user_chat::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0;
    height: 100%;
    width: 4px;
    background: #FF8600;
    transition: .5s;
    opacity: 0;
}

.nombrechatNaranja {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    align-items: center;
    text-align: right;
    color: #FF8600;
    position: absolute;
    right: 0;
}

.containerChat {
    margin: 0 auto;
    margin-left: 22px;
    margin-right: 47px;
}

.divCabezera {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    bottom: 20px;
}

.divCabezera .nombrechatNaranja {
    bottom: 0;
}

.person_user_chat {
    height: 130px !important;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #9D9D9D;
}

hr {
    border-color: #9D9D9D;
    margin: 0;
}

.person_user_chat .imagenChatPerson {
    margin-top: 0px;
    float: left;
    margin-right: 15px;
}

.puntoMessage {
    background: #FF8600;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    margin-left: 20px;
    transform: translateY(-50%);
    border-radius: 50%;
}

.person_user_chat .divcontainerChat {
    width: calc(100% - 65px);
    margin-left: 50px;
    height: 100%;
    position: relative;
}

.person_user_chat .iconsChatUser {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    margin-bottom: 10px;
}

.right100p {
    margin-right: 10px;
    margin-top: 5px;
}

.person_user_chat .nombrechatNaranja {
    position: relative;
    margin: 0;
    float: left;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    color: #000000;
}

.nombreschat {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
}

.nomFecha {
    font-size: 14px;
    color: #9D9D9D;
    line-height: 22px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.messagePro1 {
    width: 413px;
    height: 122px;
    background: #C4C4C4;
    margin-top: 30px;
    margin-bottom: 30px;
}

.messagePro1::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-bottom: 18px solid #C4C4C4;
    border-left: 18px solid transparent;
    transform: rotate(270deg);
    margin-left: -13px;
}

.messagePro1 .textNormal span {
    color: #010973;
    font-weight: bold;
}

.textNormal {
    padding: 20px 18px 18px 18px;
}

.orangeBtn.small {
    width: 86px;
    height: 30px;
    margin-left: 17px;
}

.mensajescHat {
    display: inline-flex;
    height: 47px;
    width: 100%;
    margin-top: 30px;
}

.ml-0 {
    margin-left: 0;
}

.mr-0 {
    margin-right: 0;
}

.chatContainerHeight {
    height: calc(100vh - 406px);
    overflow-y: auto;
    width: 100%;
}

.containerH155 {
    height: calc(100vh - 247px);
    overflow-y: auto;
}

.btnEnviarMsj {
    float: left;
    margin-right: 15px;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    display: inline-flex;
    cursor: pointer;
}

.btnEnviarMsj label {
    cursor: pointer;
}

.textAdj {
    margin-top: 8px;
    text-align: center;
    font-size: 10px;
    color: #9D9D9D;
    letter-spacing: 0.04em;
    font-weight: 600;
}

.inputChatFinally {
    width: 470px;
    height: 46px;
    background-color: transparent;
    float: left;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    border: 1px solid #9D9D9D;
    outline: none;
    border-right: none;
    padding-left: 15px;
}

.inputChatFinally:focus {
    outline: none;
}

.messageNormal {
    margin-top: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #C4C4C4;
    color: black;
    position: relative;
    right: 0;
    margin-right: 16px;
    width: auto;
    float: left;
    margin-left: 18px;
    max-width: 70%;
}

.messageMy {
    float: right;
    margin-left: 0;
    margin-right: 18px;
}

.messagePro2 {
    background-color: #010973;
    color: white;
}

.messageNormal::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-bottom: 18px solid #C4C4C4;
    border-left: 18px solid transparent;
    transform: rotate(-90deg);
    left: -17px;
    top: 0;
}

.messageMy::after {
    left: auto;
    right: -17px;
    top: auto;
    bottom: 0;
    transform: rotate(90deg);
}

.messagePro3 {
    background-color: #FF8600;
    color: white;
}

.messagePro3::after {
    border-bottom: 18px solid #FF8600 !important;
    margin-left: 24px !important;
}

.mt-28 {
    margin-top: 28px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-155 {
    margin-top: 155px;
}

.noMessages {
    margin-top: 223px;
}

.titleChat {
    font-weight: 800;
    font-size: 45px;
    line-height: 120%;
    max-width: 616px;
}

.textChat {
    font-size: 16px;
    line-height: 155%;
    max-width: 450px;
    margin-top: 53px;
}

.large {
    margin-top: 46px;
}

.negotiationChat {
    width: 475px;
    height: 550px;
}

.pfmt {
    position: absolute;
    top: 20px;
    right: 0;
}

.modalChat {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 30;
}

.modalChatInt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 470px;
    border-radius: 6px;
}

.modalChatInt .closeChat {
    position: absolute;
    top: 22px;
    right: 22px;
}

.modalChatInt .closeChat:hover {
    opacity: 0.7;
}

.modalChatInt .title2 {
    font-size: 30px;
    text-align: center;
}

.modalChatInt .mt-50 {
    margin-top: 50px;
}

.modalChatInt {
    margin-top: 20px;
}

.modalChatInt .contentPrice {
    overflow: hidden;
    margin-top: 20px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.modalChatInt .contentPrice .input {
    width: 118px;
    float: left;
    height: 43px;
    text-align: center;
}

.modalChatInt .contentPrice .input:focus {
    outline: none;
}

.modalChatInt .contentPrice p {
    float: left;
    font-size: 14px;
    margin-left: 12px;
    margin-top: 14px;
}

.modalChatInt .mt-20 {
    margin-top: 20px;
}

.modalChatInt .select {
    margin-top: 20px;
    width: 360px;
    height: 45px;
    margin-left: 55px;
}

.modalChatInt .list-group {
    width: 360px;
    margin-left: 55px;
    max-height: 124px;
    overflow: auto;
}

.modalChatInt .order {
    top: 23px;
    right: 13px;
}

.modalChatInt .btn {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 360px;
    margin-left: 55px;
}

.offerChat {
    background: #010973;
    color: white;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.lh-160 {
    line-height: 160%;
}

.acceptChat {
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    position: relative;
}

.disabled,
.disabled:hover {
    background: #ECECEC;
    color: #9D9D9D;
    border: 0;
}

.modalChatInt .small {
    width: 120px;
}

@media screen and (max-width: 470px) {
    .containerH155 {
        margin-left: 24px;
        margin-right: 7px;
    }
    hr {
        margin-left: 24px;
        margin-right: 24px;
    }
    .person_user_chat .divcontainerChat {
        margin-left: 8px;
    }
    .person_user_chat .nombrechatNaranja {
        color: #FF8600;
        font-size: 10px;
    }
    .person_user_chat {
        height: 93px !important;
    }
    .person_user_chat .iconsChatUser {
        margin-bottom: auto;
        top: 59%;
        transform: translateY(-50%);
        right: -50px;
    }
    .menuOptionFilter {
        margin-top: 16px;
        width: auto;
    }
    .divinputsearch {
        width: calc(100% - 40px);
    }
    .h--155::before {
        content: 'Messages';
        font-size: 18px;
        color: #010973;
        font-weight: bold;
        position: absolute;
        top: 14px;
        left: 24px;
    }
    .shadow,
    .chatrightborder {
        box-shadow: none !important;
    }
    .col-8 {
        display: none;
        max-width: 100%;
        padding-left: 24px;
        padding-right: 24px;
        flex: none;
    }
    .col-8 .h--155::before {
        display: none;
    }
    .divCabezera {
        margin-top: 15px;
    }
    .divCabezera .mini {
        float: left;
        margin-right: 14px;
    }
    .divCabezera .nombrechatNaranja {
        float: left;
        position: relative;
    }
    .col-8 .h--155 {
        height: 89px;
    }
    .col-8 .containerChat {
        margin-left: 0;
        margin-right: 0;
    }
    .col-8 hr {
        margin-left: 0;
    }
    .mensajescHat .blueBtn {
        width: 25px;
        height: 25px;
        background-color: transparent;
    }
    .inputChatFinally {
        width: 74%;
        float: left;
        border-right: 1px solid #9D9D9D;
    }
}