<div class="container shadow" *ngIf="users.length > 0">
    <div class="divcol ">
        <div class="row">
            <div class="col-sm chatrightborder">
                <div class="h--155 backBlue">
                    <div class="input-group divinputsearch">
                        <div class="searchGray absoluteSearch"></div>
                        <input type="text" class="form-control inputbusquechat" placeholder="Search by name or project" name="search" [(ngModel)]="search">
                    </div>
                    <div class="menuOptionFilter">
                        <span (click)="filter(1)" [class.blueColor]="!unread">All</span>
                        <span (click)="filter(2)" [class.blueColor]="unread">Unread <b>({{totalUnread}})</b></span>
                        <!-- <span>Archived</span> -->
                    </div>
                </div>
                <hr>
                <div class="containerH155">
                    <div class="person_user_chat" *ngFor="let u of users | chatText: search | chatSearch: unread ">
                        <div class="divcontainerChat">
                            <div class="nombreschat" (click)="initChat(u)">
                                <div class="profile mini imagenChatPerson" [class.profileHire]="info.user.displayName == 'pro'" [class.profilePro]="info.user.displayName == 'hire'" [ngStyle]="{'background-image': u.photo && 'url('+u.photo+')'}">
                                    <a href="{{u.photo}}" target="_blank"></a>
                                </div>
                                <div class="nombrechatazul title3">{{u.name}}</div>
                                <!-- <div class="nombrechatNaranja">{{u.projectname}}</div> -->
                            </div>
                            <div class="iconsChatUser">
                                <div class="right100p eyeM" [class.eyeN]="!u.noRead"></div>
                                <div class="deleteChat" (click)="modal = 2; infoTemp = u"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-8">
                <ng-container *ngIf="chat">
                    <div class="containerChat">
                        <div class="h--155 backBlue">
                            <div class="divCabezera ">
                                <div class="profile mini imagenChatPerson" [class.profileHire]="info.user.displayName == 'pro'" [class.profilePro]="info.user.displayName == 'hire'" [ngStyle]="{'background-image': photo && 'url('+photo+')'}"></div>
                                <div class="nombrechatazul title3">{{name}}</div>
                                <!-- <div class="nombrechatNaranja">{{projectName}}</div> -->
                                <button type="button" class="btn blueBtn small pfmt" (click)="modal = 1; projectsFind()" *ngIf="info.user.displayName == 'hire'; else btnPro">Hire</button>
                                <ng-template #btnPro>
                                    <button type="button" class="btn blueBtn small pfmt" [class.disabled]="disabled" [disabled]="disabled" (click)="acceptOffer()">{{word}}</button>
                                </ng-template>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="containerChat ml-0">
                        <div class="chatContainerHeight containerChat">
                            <ng-container *ngFor="let m of messages">
                                <p class="nomFecha">
                                    {{ m.fecha.toDate() | date: 'MMM, dd h:mm a' }}
                                </p>
                                <div style="overflow: hidden;">
                                    <div class="messageNormal" [class.messageMy]="myId == m.id" *ngIf="m.message != 'offer' && m.message != 'accept'">
                                        <ng-container *ngIf="!m.adj; else fileAdj">
                                            {{ m.message }}
                                        </ng-container>
                                        <ng-template #fileAdj>
                                            <a [href]="m.message" target="_blank">
                                                <div class="fileIcon" style="margin: 0 auto"></div>
                                                <p class="textAdj">Click to view the file.</p>
                                            </a>
                                        </ng-template>
                                    </div>
                                    <div *ngIf="m.offer && info.user.displayName == 'hire' && m.message == 'offer'" class="offerChat">
                                        <p>You have offered <strong>{{m.name}} ${{m.price}}</strong> per hour as a <strong>{{m.team}}</strong>.</p>
                                    </div>
                                    <div *ngIf="m.offer && info.user.displayName == 'pro' && m.message == 'offer'" class="offerChat lh-160">
                                        <p><strong>{{name}}</strong> wants to offer you <strong>${{m.price}}</strong> per hour as a <strong>{{m.team}}</strong>.<br> Click on <strong>Accept</strong> if you agree with this offer.</p>
                                    </div>
                                    <div *ngIf="m.accept && info.user.displayName == 'pro'" class="acceptChat"><strong>You</strong> have accepted the offer.</div>
                                    <div *ngIf="m.accept && info.user.displayName == 'hire'" class="acceptChat"><strong>{{name}}</strong> has accepted the offer and is now <br>part of the <strong>{{m.team}} team.</strong></div>
                                </div>
                            </ng-container>
                        </div>


                        <div class="containerChat mr-0">
                            <div class="mensajescHat">
                                <form action="" (ngSubmit)="chatMessage(idPro, mesg)">
                                    <input type="file" name="adj" id="adj" (change)="adjFile($event)" hidden accept=".pdf, .jpg, .jpeg, .png, .gif, .zip, .rar">
                                    <div class="btnEnviarMsj"><label for="adj"><img src="../../../assets/iconos/enviarMsj.svg"></label></div>
                                    <input class="form-control inputChatFinally" id="msgChat" type="text" name="mesg" placeholder="Write your message" ngModel [(ngModel)]="mesg" autocomplete="off">
                                    <button type="submit" class="blueBtn small"> Send </button>
                                </form>
                            </div>
                        </div>

                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="users.length == 0 && info.user.displayName == 'pro'">
    <div class="container noMessages">
        <div class="row">
            <div class="col-sm">
                <div class="titleChat">
                    <p>Apply for a project to get in touch with a hirer. </p>
                </div>
                <div class="textChat">
                    <p>Once you apply for a project, the hirer will check your profile and will contact you through this page to negotiate payment options and fees. Apply for more projects to increase the chances to get hired. </p>
                </div>
                <a href="/ExplorePro">
                    <button class="btn blueBtn large mt-40">Back to explore</button>
                </a>
            </div>
            <div class="col-sm">
                <div class="negotiationChat"></div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="users.length == 0 && info.user.displayName == 'hire'">
    <div class="container noMessages">
        <div class="row">
            <div class="col-sm">
                <div class="titleChat">
                    <p>Get in touch with a Pro <br>to negotiate</p>
                </div>
                <div class="textChat">
                    <p>Once you apply for a project, the hirer will check your profile and will contact you through this page to negotiate payment options and fees. Apply for more projects to increase the chances to get hired. </p>
                </div>
                <a href="/Hireprincipal">
                    <button class="btn blueBtn large mt-40">Back to projects</button>
                </a>
            </div>
            <div class="col-sm">
                <div class="negotiationChat"></div>
            </div>
        </div>
    </div>
</ng-container>


<div class="modalChat" *ngIf="modal != 0">
    <div class="modalChatInt" [ngStyle]="{'width': modal == 2 ? '388px' : ''}">
        <div [hidden]="modal == 2">
            <div class="closeChat" (click)="modal = false; hire = false"></div>
            <div class="title2 mt-50">
                <p>What is your offer?</p>
            </div>
            <div class="contentPrice">
                <input type="text" class="input" placeholder="$0.00" name="price" #price="ngModel" ngModel [class.errorInput]="!onlyNumber.exec(price.value) && price.value != ''" [class.correctInput]="onlyNumber.exec(price.value)">
                <p>/ per hour</p>
            </div>
            <div class="title2 mt-20">
                <p>In which field?</p>
            </div>
            <div class="input-group select" (click)="up = !up">
                <input type="text" class="form-control" placeholder="Select team" onfocus="this.blur()" [(ngModel)]="skillS" style="cursor: pointer;">
                <div class="order" [ngClass]="{'up': up == true}"></div>
            </div>
            <div class="list-group" [hidden]='up == false'>
                <div class="list-group-item" *ngFor="let s of skills" (click)="skillS = s; up = false">
                    <p>{{s}}</p>
                </div>
            </div>
            <ng-container *ngIf="showProjects.length > 1">
                <div class="title2 mt-20">
                    <p>For which project?</p>
                </div>
                <div class="input-group select" (click)="up2 = !up2">
                    <input type="text" class="form-control" placeholder="Project’s name" onfocus="this.blur()" [(ngModel)]="projectS" style="cursor: pointer;">
                    <div class="order" [ngClass]="{'up': up2 == true}"></div>
                </div>
                <div class="list-group" [hidden]='up2 == false'>
                    <div class="list-group-item" *ngFor="let p of showProjects" (click)="projectS = p.projectName; idProject = p.idProject; up2 = false">
                        <p>{{p.projectName}}</p>
                    </div>
                </div>
            </ng-container>
            <button (click)="createOffer(price.value); modal = false" type="button" class="btn blueBtn large" [class.disabled]="price.value == '' || price.value == 0 || skillS == '' || projectS == '' || !onlyNumber.exec(price.value)" [disabled]="price.value == '' || price.value == 0 || skillS == '' || projectS == '' || !onlyNumber.exec(price.value)">Confirm</button>
        </div>
        <div [hidden]="modal == 1">
            <div class="title2" style="line-height: 41px;">
                <p>Are you sure you <br>want to delete this <br>conversation?</p>
            </div>
            <div class="decision">
                <button class="btn blueBtn small" style="margin-left: 53px;" (click)="deleteChat()">Yes</button>
                <button class="btn blueBtn small" (click)="modal = 0" style="margin-left: 45px;">No</button>
            </div>
        </div>
    </div>
</div>