.container {
    margin-top: 120px;
    margin-bottom: 74px;
    padding: 0;
}

.divcol {
    padding: 0;
}
.down:hover{
    opacity: 0.7;
}
.dropdown-menu {
    position: initial;
    margin-top: 55.89px;
    border: 0;
}

.dropdown-item {
    padding-left: 0;
    color: #5B5B5B;
    font-family: 'Mukta', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    font-size: 18px;
    letter-spacing: -0.025em;
    padding-bottom: 20px;
    padding-top: 20px;
}

.dropdown-item:first-child {
    padding-top: 0;
}

.dropdown-item:active {
    background-color: initial;
}

.dropdown-divider {
    margin: 0;
}

.textw {
    margin-top: 43px;
}

.textw p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    font-size: 22px;
    letter-spacing: -0.025em;
    color: #010973;
}

.proyects {
    border: 0.5px solid #000000;
    margin-top: 68.89px;
}

.message {
    margin-top: 163px;
    text-align: center;
}

.start {
    width: 167px;
    height: 35px;
    background: #000000;
    font-family: 'Mukta', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 36px;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.025em;
    color: rgba(255, 255, 255, 0.96);
    margin: 0 auto;
    margin-top: 11px;
    margin-bottom: 189px;
}

.viewAll {
    position: absolute;
    right: 48px;
    bottom: 23px;
    font-size: 14px;
    cursor: pointer;
}

.viewAll:hover {
    text-decoration: underline;
}

.uploading {
    border: 1px solid #FF8600;
    position: absolute;
    height: 26px;
    width: 124px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
}

.uploading::before {
    content: 'Uploading...';
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #9D9D9D;
    font-weight: 600;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -19px;
    font-family: 'Open Sans', sans-serif;
}

.loadingBar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #FF8600;
}

.textv {
    right: -105px;
}

.textv2 {
    right: -293px;
}

.textv3 {
    right: -214px;
}

.textv4 {
    right: -188px;
}

.thereis {
    border: 0;
}

.map {
    width: 922px;
    height: 456.54px;
    margin-top: 12.56px;
}

.titlesmall {
    font-family: 'Mukta', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 45px;
    font-size: 16px;
    letter-spacing: -0.025em;
    color: #5B5B5B;
    margin-top: 45.2px;
}

.textsmall {
    max-width: 565px;
}

.titless2 {
    font-family: 'Mukta', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 15px;
    letter-spacing: -0.025em;
    color: #E76800;
    margin-top: 9px;
}

.boxes {
    display: -webkit-box;
    margin-top: 11px;
}

.box {
    background: #E76800;
    font-family: 'Mukta', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
    letter-spacing: -0.025em;
    color: #FFFFFF;
}

.box p {
    padding: 6px 24px 7px 22px;
}

.add {
    background: transparent;
    font-weight: 300;
    color: #5B5B5B;
    border: 0.5px solid #E76800;
}

.line {
    width: 26px;
    height: 0px;
    border: 1px solid #C5C5C5;
    margin-right: 18px;
    margin-left: 18px;
    margin-top: 15px;
}

.wheather {
    margin-top: 29px;
    display: -webkit-box;
    margin-bottom: 14px;
}

.textwe {
    font-family: 'Mukta', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: -0.025em;
    color: #5B5B5B;
}

.imgw {
    width: 14.75px;
    height: 8.19px;
    background: #5B5B5B;
    margin-right: 6.13px;
    margin-top: 5px;
}

.grades {
    margin-top: 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    font-size: 15px;
    letter-spacing: -0.025em;
    color: #5B5B5B;
}

.time {
    margin-top: 25px;
    margin-bottom: 15.37px;
    display: -webkit-box;
}

.imgt {
    width: 14.06px;
    height: 14.06px;
    background: #5B5B5B;
    border-radius: 50%;
    margin-right: 6px;
}

.textt {
    font-family: 'Mukta', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: -0.025em;
    color: #5B5B5B;
    margin-top: 2px;
}

.hour {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
    font-size: 15px;
    letter-spacing: -0.025em;
    color: #5B5B5B;
}


/* Estilos EditProfile */

.optionSelect {
    margin-top: 21px;
    cursor: pointer;
}

.optionSelect:hover {
    color: #010973;
    text-decoration: underline;
}

.noOption {
    color: #010973;
    text-decoration: underline;
    cursor: pointer;
}

.mt-0 {
    margin-top: 0;
}

.mt-12 {
    margin-top: 12px;
}

.mt-21 {
    margin-top: 21px;
}

.mt-23 {
    margin-top: 23px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-27 {
    margin-top: 27px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-38 {
    margin-top: 38px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-51 {
    margin-top: 51px;
}

.ml-14 {
    margin-left: 14px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-48 {
    margin-left: 48px;
}

.mr-13 {
    margin-right: 13px;
}

.mr-30 {
    margin-right: 30px;
}

.mb-43 {
    margin-bottom: 43px;
}

.mb-30 {
    margin-bottom: 30px;
}

.labelButton {
    text-align: center;
    line-height: 47px;
}

iframe {
    overflow: hidden;
    width: 166px;
    height: 112px;
}

.cDefault {
    cursor: default;
}


/* Estilos overall */

.projects {
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
}

.orange {
    color: #FF8600;
}

.descriptionProfile {
    margin-right: 48px;
    overflow: hidden;
}
.mr-48 {
    margin-right: 48px;
}
.mr-48 {
    margin-right: 48px;
}
.smallText{
    color:#000000 !important;
}
.reviwsDescriptionFinally{
    width: 100%;
    overflow: hidden;   
}


@media screen and (max-width: 470px) {
    .textw {
        text-align: center;
        margin-top: 19px;
    }
    .noOption {
        display: none;
    }
    .optionSelect {
        color: #010973;
        text-align: center;
    }
    .divcol {
        padding-left: 24px;
        padding-right: 24px;
    }
    .divcol .fields:first-child .input-group:first-child {
        margin-bottom: 20px;
    }
    #buttonPass,
    #btnAccount,
    .skill .blueBtn {
        width: 100%;
    }
    #pass1 {
        margin-bottom: 24px;
    }
    .formR .fields:nth-child(2) {
        margin-top: 0;
    }
    .labelButton {
        margin-left: 52px;
    }
    .skillselct {
        position: relative;
    }
    .projects {
        margin-top: 15px;
    }
    .projects .normalText .ml-48 {
        margin-left: 23px;
    }
    .projects .normalText .mt-51 {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
    .projects .normalText .mt-51 .smallText,
    .projects .normalText .mt-45 .smallText {
        margin-top: 10px;
    }
    .projects .normalText .col-sm {
        padding: 0;
    }
    .projects .normalText .mt-45 {
        margin-top: 16px;
    }
    .stars .smallText {
        display: none;
    }
    .stars {
        display: block;
        margin-top: 10px;
    }
    .starG {
        float: left;
        margin-top: 5px;
    }
    .normalText {
        font-size: 14px;
        line-height: 170%;
    }
    .mt-27 {
        margin-top: 20px;
    }
    .mr-30:first-child {
        margin-left: 18px;
    }
    .mb-43 {
        margin-left: 0;
    }
    .media .stars {
        margin-top: 0;
    }
    .media .title3 {
        margin-top: 0;
    }
}