<div class="alert alert-primary" [class.alertInitial]="alert == 1" role="alert">
    Your <strong>password</strong> has been updated.
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="cont">
                <div class="profile" [ngStyle]="{'background-image': 'url('+imageP+')'}"></div>
                <div class="textw">
                    <p>{{profile.name}} {{profile.lastname}}</p>
                </div>
                <p class="optionSelect" (click)="selectOption(1)" [class.noOption]="select == 1">Profile overall</p>
                <p class="optionSelect" (click)="selectOption(2)" [class.noOption]="select == 2">Edit profile</p>
            </div>
        </div>
        <div class="col-sm-8 divcol" [class.projects]="select == 1">
            <div *ngIf="select == 2">
                <div class="title2">
                    <p class="changeColorBlue">Account Information</p>
                </div>
                <form #aF="ngForm" (ngSubmit)="accountForm(aF)" action="">
                    <div class="row fields">
                        <div class="input-group col-sm">
                            <input type="text" class="form-control" id="name" name="name" #name="ngModel" ngModel [(ngModel)]="profile.name" [placeholder]="profile.name">
                        </div>
                        <div class="input-group col-sm">
                            <input type="text" class="form-control" id="lastname" name="lastname" #lastname="ngModel" ngModel [(ngModel)]="profile.lastname" [placeholder]="profile.lastname">
                        </div>
                    </div>
                    <div class="row fields">
                        <div class="input-group col-sm">
                            <input type="email" class="form-control" id="email" name="email" #email="ngModel" ngModel [(ngModel)]="profile.email" [placeholder]="profile.email" [class.errorInput]="!correctEmail.exec(email.value) && email.value != ''">
                            <span *ngIf="!correctEmail.exec(email.value) && email.value != ''" class="textError">Email must be a valid
                                email address</span>
                        </div>
                        <div class="input-group col-sm">
                            <input type="text" hidden>
                        </div>
                    </div>
                    <div class="row fields">
                        <div class="input-group col-sm">
                            <textarea class="form-control" rows="8" maxlength="400" id="description" name="description" #description="ngModel" ngModel [(ngModel)]="profile.description" placeholder="Enter an appealing description of yourself so people want to hire you (400 characters left)"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="blueBtn small mt-12" id="btnAccount" [class.disabled]="name.value == '' || lastname.value == '' || email.value == '' || description.value == '' || !correctEmail.exec(email.value)" [disabled]="name.value == '' || lastname.value == '' || email.value == '' || description.value == '' || !correctEmail.exec(email.value)">Update</button>
                </form>
                <hr class="hr mt-30">
                <div class="title2">
                    <p class="changeColorBlue">Update password</p>
                </div>
                <form #pF="ngForm" (ngSubmit)="passForm(pF)" action="" class="formR">
                    <div class="row fields">
                        <div class="input-group col-sm">
                            <input type="password" [class.errorInput]="cPass.value != password && cPass.value != ''" [class.correctInput]="cPass.value == password && cPass.value != ''" class="form-control" placeholder="Current password" name="cPass" id="cPass" #cPass="ngModel" ngModel>
                            <span class="textError" [hidden]="cPass.value == password || cPass.value == ''">It isn't the
                                current
                                password</span>
                        </div>
                        <div class="input-group col-sm">
                            <input type="text" class="form-control" hidden>
                        </div>
                    </div>
                    <div class="row fields">
                        <div class="input-group col-sm">
                            <input type="password" [class.errorInput]="pass1.value?.length < 6 && pass1.value != ''" [class.correctInput]="pass1.value?.length > 5 && pass1.value != ''" class="form-control" placeholder="New password" name="pass1" id="pass1" ngModel #pass1="ngModel">
                            <span class="textError" [hidden]="pass1.value?.length > 5 || pass1.value == ''">Password
                                must be at leat 6
                                characters.</span>
                        </div>
                        <div class="input-group col-sm">
                            <input type="password" [class.correctInput]="pass2.value == pass1.value && pass2.value != ''" [class.errorInput]="pass2.value != pass1.value && pass2.value != ''" class="form-control" placeholder="Confirm new password" name="pass2" id="pass2" ngModel
                                #pass2="ngModel">
                            <span class="textError" [hidden]="pass2.value == pass1.value || pass2.value == ''">Password
                                doesn’t
                                match.</span>
                        </div>
                    </div>
                    <button type="submit" class="blueBtn small mt-12" id="buttonPass" [class.disabled]="cPass.value == '' || pass1.value == '' || pass2.value == '' || pass1.value != pass2.value || cPass.value != password || pass1.value?.length < 6" [disabled]="cPass.value == '' || pass1.value == '' || pass2.value == '' || pass1.value != pass2.value || cPass.value != password || pass1.value?.length < 6">Update</button>
                </form>
                <hr class="hr mt-30">
                <div class="title2">
                    <p class="changeColorBlue">Profile picture</p>
                </div>
                <div class="fields flex">
                    <div class="profile mini" [ngStyle]="{'background-image': 'url('+imageP+')'}"></div>
                    <input type="file" class="custom-file-input customFile" id="customProfile" accept=".jpg, .jpeg, .png, .svg" name="certificate" (change)="imageProfile($event)">
                    <label for="customProfile" class="blueBtn medium ml-30 labelButton">Upload file</label>
                </div>
                <hr class="hr mt-30">
                <div class="title2">
                    <p class="changeColorBlue">CV</p>
                </div>
                <div class="row">
                    <div class="col-sm input-group">
                        <div class="input-group custom-file">
                            <input *ngIf="cv[0].name == 'Add a file'" type="file" class="custom-file-input customFile" (change)="uploadCV($event)" accept=".pdf" id="customFileCV">
                            <label for="customFileCV" class="custom-file-label" [class.cDefault]="cv[0].name != 'Add a file'">
                                <div class="afterFile">{{cv[0].name}}</div>
                            </label>
                            <div class="deleteCert" title="Delete CV" [hidden]="cvClose == false" (click)="deleteCV(cv[0])"></div>
                        </div>
                    </div>
                </div>
                <hr class="hr mt-30">
                <div class="title2">
                    <p class="changeColorBlue">Skills</p>
                </div>
                <div class="skill mt-21">
                    <div class="row btnPointer">
                        <div class="col-sm input-group">
                            <div class="form-control" [ngStyle]="{'height': selectskills.length == 0 ? '' : 'auto'}">
                                <p style="line-height: 31px;">Select Skills</p>
                                <div class="skillselct" [hidden]="selectskills == null">
                                    <div class="skillsel" *ngFor="let s of selectskills">
                                        <p>{{s}}</p>
                                        <div class="close" (click)='close(s)'></div>
                                    </div>
                                </div>
                            </div>
                            <div class="down" [ngClass]="{'up': up == true}" (click)="up = !up"></div>
                        </div>
                    </div>
                    <div class="list-group" *ngIf="up">
                        <div class="list-group-item" *ngFor="let s of skills" (click)="selectskill(s)">
                            <p>{{s}}</p>
                        </div>
                    </div>
                    <button type="button" class="blueBtn medium mt-12" (click)="updateSkills()">Update skills</button>
                </div>
                <hr class="hr mt-30">
                <div class="title2">
                    <p class="changeColorBlue">Certificates</p>
                </div>
                <div class="row">
                    <div class="col-sm input-group">
                        <div class="input-group custom-file" *ngFor="let c of customers; let i = index">
                            <input type="file" *ngIf="c.name == 'Add certificate file'" class="custom-file-input customFile" id="customFileCert{{i}}" accept=".pdf, .jpg, .jpeg" name="certificate" #certificate="ngModel" ngModel (change)="uploadCert($event)">
                            <label for="customFileCert{{i}}" class="custom-file-label" [class.cDefault]="c.name != 'Add certificate file'">
                                <div class="afterFile">{{c.name}}</div>
                                <div class="uploading" *ngIf="c.name == 'Add certificate file' && uploadDoc > 0">
                                    <div class="loadingBar" [ngStyle]="{'width':uploadDoc+'%'}"></div>
                                </div>
                            </label>
                            <div class="deleteCert" title="Delete certificate" *ngIf="c.name != 'Add certificate file'" (click)="deleteCert(c)"></div>
                        </div>
                        <div class="input-group-prepend iconAdd" (click)="addcustomer()">
                            <div class="icon_img btnround" title="Add certificate"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="select == 1" class="normalText">
                <div class="row mt-51 ml-48 mr-48">
                    <div class="col-sm">
                        <div class="title3">
                            <p>Rating</p>
                        </div>
                        <div class="stars mt-23">
                            <div class="rating" [class.ratingO]="this.profile.reviews">
                                <p *ngIf="!this.profile.reviews">n/a</p>
                                <p *ngIf="this.profile.reviews">{{rate}}.0</p>
                            </div>
                            <div class="starG" [class.starO]="rate >= 1"></div>
                            <div class="starG" [class.starO]="rate >= 2"></div>
                            <div class="starG" [class.starO]="rate >= 3"></div>
                            <div class="starG" [class.starO]="rate >= 4"></div>
                            <div class="starG mr-13" [class.starO]="rate == 5"></div>
                            <p class="smallText">(<span *ngIf="!this.profile.reviews">no</span><span *ngIf="this.profile.reviews">{{this.profile.reviews.length}}</span> reviews)
                            </p>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="title3">
                            <p>Jobs completed</p>
                        </div>
                        <p class="mt-23 smallText">0</p>
                    </div>
                </div>
                <div class="row mt-45 ml-48 mr-48">
                    <div class="col-sm">
                        <div class="title3">
                            <p>Certificates</p>
                        </div>
                        <p class="mt-23 smallText">{{ countC }}</p>
                    </div>
                </div>
                <hr class="hr mt-30">
                <div class="ml-48 mr-48">
                    <div class="title2">
                        <p>Profile description</p>
                    </div>
                    <p class="mt-23 descriptionProfile"><span *ngIf="profile.description == null">Profile
                            Description...</span>{{profile.description}}</p>
                </div>
                <hr class="hr mt-30">
                <div class="ml-48 mr-48">
                    <div class="title2">
                        <p>CV</p>
                    </div>
                    <div *ngIf="cv[0].name != 'Add a file' && cv[0].name != null">
                        <a [href]="cv[0].url" target="_blank">
                            <div class="fileIcon"></div>
                        </a>
                        <p>{{cv[0].name}}</p>
                    </div>
                    <div *ngIf="cv[0].name == 'Add a file' || cv[0].name == null">
                        <p>No files have been uploaded.</p>
                    </div>
                </div>
                <hr class="hr mt-30">
                <div class="ml-48 mr-48">
                    <div class="title2">
                        <p>Skills</p>
                    </div>
                    <div class="mt-27" style="overflow: hidden;" [hidden]="selectskills == null">
                        <div class="skillsel onlySkill" *ngFor="let so of selectskills">
                            <p>{{so}}</p>
                        </div>
                    </div>
                </div>
                <hr class="hr mt-30">
                <div class="ml-48 mr-48">
                    <div class="title2">
                        <p>Certificates</p>
                    </div>
                    <div class="row">
                        <div class="col-sm input-group">
                            <ng-container *ngIf="customers.length != 0 && customers.length != null && customers[0].name != 'Add certificate file'">
                                <div *ngFor="let co of customers" class="mr-30">
                                    <a [href]="customers[0].url" target="_blank">
                                        <div class="fileIcon certIcon"></div>
                                    </a>
                                    <p class="ellipsis">{{co.name}}</p>
                                </div>
                            </ng-container>
                            <div *ngIf="customers.length == 0 || customers.length == null || customers[0].name == 'Add certificate file'">
                                <p>No files have been uploaded.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="hr mt-30">
                <div class="ml-48 mr-48">
                    <div class="title2">
                        <p>Reviews <span class="smallText">({{usuariosReviwsTodos.length}})</span></p>
                    </div>
                    <div *ngIf="usuariosReviwsTodos.length == 0 ">
                        <p>You have no reviews yet? You can ask your hirer for one!</p>
                    </div>
                    <div class="row mt-38 mb-43">
                        <div class="col-sm mb-30" *ngFor="let reviews of usuariosReviwsTodos | slice:0:limit;">
                            <div class="media">
                                <div class="profile mini" [ngStyle]="{'background-image' : 'url('+reviews.photoUrl+')'}"></div>
                                <div class="media-body">
                                    <div class="title3 mt-12 ml-14">
                                        <p>{{reviews.name}}</p>
                                    </div>
                                    <div class="stars ml-14">

                                        <div class="starG" [class.starO]="reviews.rating >= 1"></div>
                                        <div class="starG" [class.starO]="reviews.rating >= 2"></div>
                                        <div class="starG" [class.starO]="reviews.rating >= 3"></div>
                                        <div class="starG" [class.starO]="reviews.rating >= 4"></div>
                                        <div class="starG mr-13" [class.starO]="reviews.rating == 5"></div>

                                    </div>
                                </div>
                            </div>
                            <p class="mt-21 reviwsDescriptionFinally">{{reviews.descripcion}}</p>
                        </div>
                        <span class="orange viewAll" (click)="limit = usuariosReviwsTodos.length" *ngIf="limit == 2">View all</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="textv" [ngClass]="righttv">
    <p>{{text}}</p>
</div>