.contenedorfooter {
    width: 100%;
    height: 370px;
    position: relative;
    background-color: #010973;
    overflow: hidden;
}

.inferiorfooter {
    width: 100%;
    height: 50px;
    border-top: 1px solid #FFFFFF;
    position: relative;
    margin-top: 50px;
}
.enlaceNativo:hover{
    opacity: 0.7;
    cursor: pointer;
}
#contenedorinferiorfooter {
    width: 1268px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#contenedorinferiorfooter p:nth-child(1) {
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: calc(14px + (16 - 14) * ((100vw - 375px) / (1280 - 375)));
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

#contenedorinferiorfooter p:nth-child(2) {
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: calc(12px + (14 - 12) * ((100vw - 375px) / (1280 - 375)));
    line-height: 19px;
    text-align: right;
    /* White */
    color: #FFFFFF;
}

#contenedorinferiorfooter a {
    font-weight: bold;
    color: #D1D1D1;
}

.contenedorsuperiorfooter {
    position: relative;
    height: 222px;
    margin: 0 auto;
    margin-top: 50px;
}

.izquierdasuperiorfooter {
    float: left;
    width: 50%;
}

#iconologofooter img {
    width: 200px;
    height: 65px;
    overflow: hidden;
}

.contenedortextoizqfooter {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}

.contenedortextoizqfooter p:nth-child(1),
.contenedortextoizqfooter p:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: calc(14px + (18 - 14) * ((100vw - 375px) / (1280 - 375)));
    line-height: calc(24px + (36 - 24) * ((100vw - 375px) / (1280 - 375)));
    color: #FFFFFF;
}

.contenedorredesizquierdafooter {
    width: 100%;
   /* margin-top: 55px;*/
    overflow: hidden;
}

.contenedorredesizquierdafooter p {
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: calc(14px + (16 - 14) * ((100vw - 375px) / (1280 - 375)));
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.iconoredesfooter {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    margin-left: 12px;
}

#iconofootfacebook {
    width: 9px;
    height: 17px;
    background-image: url('../../../assets/iconos/facebookfooter.svg');
}

#iconofootinstagram {
    width: 17px;
    height: 17px;
    background-image: url('../../../assets/iconos/instagramfooter.svg');
}

#iconofoottwitter {
    width: 20px;
    height: 17px;
    background-image: url('../../../assets/iconos/twitterfooter.svg');
}

.derechasuperiorfooter {
    width: 357px;
    float: right;
}

.contenedorform {
    overflow: hidden;
    bottom: 0;
    position: absolute;
    right: 0;
}

.contenedorform p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: calc(14px + (18 - 14) * ((100vw - 375px) / (1280 - 375)));
    line-height: 36px;
    color: #FFFFFF;
}

.contenedoritemsfooter {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 90px;
}

.izquierdaitemsfooter {
    float: left;
    position: relative;
    overflow: hidden;
}

.derechaitemsfooter {
    float: right;
    position: relative;
    overflow: hidden;
}

.form-footer {
    width: calc(170px + (315 - 170) * ((100vw - 375px) / (1280 - 375)));
    height: 47px;
    background-color: transparent;
    float: left;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    border: 1px solid #ffffff;
    outline: none;
    border-right: none;
    padding-left: 22px;
    color: #ffffff;
}

.colormsj {
    color: white;
}

.btn-footer {
    width: 136px;
    height: 47px;
    background: #E76800;
    border: 1px solid #E76800;
    box-sizing: border-box;
    color: #FFFFFF;
    /*outline: none;*/
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.04em;
}

.formfooter {
    margin-top: 12px;
}

@media (max-width: 700px) {
    .izquierdasuperiorfooter {
        width: 100%;
    }
    .derechasuperiorfooter {
        width: 100%;
        margin-top: 50px;
    }
    .contenedorform {
        position: relative;
        width: 100%;
    }
    .contenedorfooter {
        height: auto;
    }
    .contenedorsuperiorfooter {
        height: 370px;
    }
    #iconologofooter img {
        width: 155px;
    }
    #contenedorinferiorfooter p:nth-child(2) {
        text-align: left;
        float: left;
    }
    .inferiorfooter {
        height: 80px;
    }
    #contenedorinferiorfooter p:nth-child(2) {
        width: 100%;
    }
}