<div class="contenedorfooter">

    <div class="contenedorsuperiorfooter">
        <div class="izquierdasuperiorfooter">
            <div id="iconologofooter">

            </div>
            <div class="contenedortextoizqfooter">
                <p>E: contact@onsite.online</p>
                <p>P: (1) 900 123 4328</p>
            </div>
            <div class="contenedorredesizquierdafooter">
                <p>Conect with us</p>
                <div id="iconofootfacebook" class="iconoredesfooter"></div>
                <div id="iconofootinstagram" class="iconoredesfooter"></div>
                <div id="iconofoottwitter" class="iconoredesfooter"></div>
            </div>
        </div>
        <div class="derechasuperiorfooter">
            <div class="contenedorform">
                <p>Subscribe to our newsletter</p>
                <form #formsubscribe="ngForm" (ngSubmit)="test(formsubscribe)" action="" class="formfooter">
                    <input type="text" class="form-footer" placeholder="Email address" name="subscribe" ngModel #subscribe="ngModel">
                    <button class="btn-footer"> Subscribe </button>
                </form>
            </div>

        </div>
    </div>

    <div class="inferiorfooter">
        <div id="contenedorinferiorfooter">
            <p>Contact</p>
            <p>©2020 Onhive All rights reserved / <a href="#"> Designed by Nativo</a></p>
        </div>
    </div>



</div>