<div class="contenedorfooter">

    <div class="contenedorsuperiorfooter container1280Final">
        <div class="izquierdasuperiorfooter">
            <div id="iconologofooter">
                <a href="/">
                    <img src="../../../assets/logos/Logo_White.svg">
                </a>
            </div>
            <div class="contenedortextoizqfooter">
                <p>E: <a class="enlaceNativo" href="mailto:contact@onsite.online">contact@onsite.online</a></p>
                <p>P: (1) 900 123 4328</p>
            </div>
            <div class="contenedorredesizquierdafooter">
                <p>Connect with us</p>
                <div id="iconofootfacebook" class="iconoredesfooter"></div>
                <div id="iconofootinstagram" class="iconoredesfooter"></div>
                <div id="iconofoottwitter" class="iconoredesfooter"></div>
            </div>
        </div>
        <div class="derechasuperiorfooter">
            <div class="contenedorform">
                <p>Subscribe to our newsletter</p>
                <form [formGroup]="registerForm" (ngSubmit)="test()" action="" class="formfooter">


                    <input type="text" id="emailFooter" formControlName="email" class="form-control form-footer" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />



                    <button class="btn-footer"> Subscribe </button>

                    <div *ngIf="submitted && f.email.errors" class="textError">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                    <div id="error1" class="colormsj"></div>
                </form>
            </div>

        </div>
    </div>

    <div class="inferiorfooter">
        <div id="contenedorinferiorfooter" class="container1280Final">
            <p>Contact</p>
            <p>©2020 Onhive All rights reserved / <a href="https://nativo.design/"  class="enlaceNativo" target="_blank" > Designed by Nativo</a></p>
        </div>
    </div>



</div>