<section class="container containerMin2" >
  <section  class="verifyEmailSec">
      <div class="title2 container">
          <p>Verify your email</p>
      </div>
      <p class="mt-20">We have sent you an email to verify your email address, please check your inbox. <br>If you haven't received the email, resend to verify.</p>
      <div class="emailVerifySend"></div>
      <div class="container">
          <button type="button" class="btn btn-outline-warning next" (click)="resend()">Resend</button>
      </div>
      <a href="/Home">
          <button type="button" class="btn next changeButton">Change email</button>
      </a>
  </section>
<div class="textv">
      <p>{{text[estadoEmail]}}</p>
  </div>
</section>
