.container {
    margin-top: 162px;
    margin-bottom: 74px;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.divcol {
    padding: 0;
}

.mt--3 {
    margin-top: -3px;
}

.mt-0 {
    margin-top: 0;
}

.mt-8 {
    margin-top: 8px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-17 {
    margin-top: 17px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-33 {
    margin-top: 33px;
}

.mt-38 {
    margin-top: 38px;
}

.mt-44 {
    margin-top: 44px;
}

.mt-47 {
    margin-top: 47px;
}

.mt-49 {
    margin-top: 49px;
}

.mt-53 {
    margin-top: 53px;
}

.mr-97 {
    margin-right: 97px;
}

.ml-14 {
    margin-left: 14px;
}

.ml-48 {
    margin-left: 48px;
}

.ml-137 {
    margin-left: 137px;
}

.mr-6 {
    margin-right: 6px;
}

.mr-8 {
    margin-right: 8px;
}

.mr-48 {
    margin-right: 48px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-42 {
    margin-bottom: 42px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-57 {
    margin-bottom: 57px;
}

.pl-36 {
    padding-left: 36px;
}

.pl-36:focus {
    padding-left: 10px;
}

.h-326 {
    height: 326px;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.mt-mr {
    margin-top: -20px;
    margin-right: -22px;
}

.mt-mr2 {
    margin-right: 9px;
}

.absoluteSearch {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    left: 224px;
}

.hr {
    margin-bottom: 0;
}

.hoverOrange:hover {
    opacity: 0.8;
}

.project {
    height: 862px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.projects {
    height: 290px;
    border-bottom: 1px solid #9D9D9D;
    position: relative;
    cursor: pointer;
}

.projects .normalText span:last-child label {
    display: none;
}

.projects::before {
    content: '';
    position: absolute;
    left: 11px;
    top: 0;
    height: 100%;
    width: 4px;
    background: #FF8600;
}

.projects:hover::before {
    left: 15px;
}

.map {
    width: 300px;
    height: 200px;
    /* background: gray; */
    margin-left: 98px;
    overflow: hidden;
    position: relative;
}

.mapBig {
    position: relative;
    background: gray;
    width: 616px;
    height: 321px;
    margin-right: 48px;
}

.modal {
    background: rgba(0, 0, 0, 0.5);
}

.skillsel p {
    float: right;
}

.skillsel img {
    margin: 5px 8px 5px 10px;
}

.colmLeft {
    margin-top: 20px;
    line-height: 160%;
}

.colmLeft p:nth-child(3),
.colmLeft p:nth-child(5) {
    margin-top: 30px;
}

.materialBrief {
    overflow: hidden;
}

.brief {
    float: left;
    margin-right: 52px;
}

.brief p {
    margin-top: 8px;
    overflow: hidden;
    width: 92px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wLocation {
    width: 284px;
}

.message {
    text-align: center;
    background: white;
    position: relative;
    overflow: hidden;
    width: 470px;
    margin: 0 auto;
    margin-top: 90px;
    border-radius: 6px;
}

.message .title {
    font-size: 30px;
    line-height: 41px;
}

.showModal {
    display: block;
}

.grayBtn {
    content: 'Applied';
    background: #ECECEC;
    color: #9D9D9D;
}

.grayBtn:hover {
    background: #ECECEC;
    color: #9D9D9D;
    border: 0;
}

.orLines {
    color: #9D9D9D;
    float: left;
    width: 100%;
    position: relative;
}

.h-25h {
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.orLines::before,
.orLines::after {
    content: '';
    width: 151px;
    border: 0.5px solid #9D9D9D;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.orLines::before {
    left: 55px;
}

.orLines::after {
    right: 55px;
}

.w360 {
    width: 360px;
}

.pagination {
    overflow: hidden;
}

.buttonsPag {
    display: inline-flex;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27px;
    color: #9D9D9D;
    font-size: 14px;
    line-height: 43px;
    border: 0.5px solid #9D9D9D;
    text-align: center;
    height: 42px;
    width: 661px;
}

.firstPag {
    width: 86px;
    border-right: 0.5px solid #9D9D9D;
    cursor: pointer;
}

.prevPag {
    width: 86px;
    cursor: pointer;
    border-right: 0.5px solid #9D9D9D;
}

.numbers {
    width: 55px;
    border-right: 0.5px solid #9D9D9D;
    cursor: pointer;
}

.nextPag {
    width: 86px;
    cursor: pointer;
}

.lastPag {
    width: 86px;
    border-left: 0.5px solid #9D9D9D;
    cursor: pointer;
}

.firstPag:hover,
.prevPag:hover,
.nextPag:hover,
.lastPag:hover {
    opacity: 0.7;
}

.clickP {
    color: #010973;
}

.bgP {
    background: #ECECEC;
    border-bottom: 0.5px solid #9D9D9D;
    color: #9D9D9D;
}

.btnDesktop {
    display: none;
}

.noExplore {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.containerNoExplore {
    box-shadow: none !important;
}

.containerNoExplore p {
    width: 450px;
    font-size: 16px;
    line-height: 26px;
}

.filterBtn {
    width: 122px;
    height: 46px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #010973;
    font-weight: 600;
    font-family: 'Open Sans';
    border-radius: 4px;
    border: 1px solid #9D9D9D;
    background: transparent;
    cursor: pointer;
}

.filterBtn:hover {
    color: #9D9D9D;
    border: 1px solid #010973;
}

.ml-12 {
    margin-left: 12px;
}

.w-250 {
    width: 250px;
}

.gray {
    color: #9D9D9D;
}

.borderGray {
    border: 1px solid #9D9D9D;
    border-radius: 2px !important;
    padding-left: 10px;
}

.skillsCheckContainer {
    width: 376px;
    position: absolute;
    top: 0;
    background: white;
    z-index: 2;
    border-radius: 6px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    overflow: initial;
    left: 302px;
    top: 96px;
}

.skillsCheckContainer::before,
.distance::before,
.oldestnew::before {
    width: 0;
    height: 0;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 14px solid #fff;
    content: '';
    position: absolute;
    top: -13px;
    left: 48px;
}

.column {
    margin-top: 33px;
}

.col1 {
    float: left;
    margin-left: 24px;
}

.col2 {
    float: right;
    margin-right: 53px;
}

.item {
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 160%;
    position: relative;
}

.item .checkbox__checkmark {
    position: absolute;
    top: 4px;
}

.item .remember_me {
    margin-left: 32px;
}

.checkbox__input:checked~.remember_me {
    font-weight: bold;
}

.distance {
    width: 384px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    overflow: initial;
    position: absolute;
    top: 96px;
    left: 437px;
    z-index: 2;
    background: white;
}

.distance p {
    margin-top: 19px;
    font-weight: bold;
    font-size: 14px;
    line-height: 160%;
    margin-left: 26px;
}

.distance p span {
    font-weight: normal;
    color: #010973;
}

.ndist {
    margin: 13px 26px 0px 26px;
    border-radius: 4px;
    border: 1px solid #9D9D9D;
    overflow: hidden;
}

.numd {
    width: 55px;
    height: 42px;
    float: left;
    color: #010973;
    font-size: 14px;
    text-align: center;
    line-height: 320%;
    cursor: pointer;
    border-right: 1px solid #9D9D9D;
}

.numd:last-child {
    border-right: none;
}

.numd:hover,
.hdist {
    background: #010973;
    color: white;
}

.oldestnew {
    width: 215px;
    text-align: center;
    background: white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    overflow: initial;
    position: absolute;
    z-index: 2;
    top: 96px;
    left: 592px;
}

.oldestnew::before {
    left: 95px;
}

.oldestnew .done {
    margin-top: 0px;
}

.itemold {
    cursor: pointer;
    height: 47px;
    line-height: 313%;
}

.itemold:first-child {
    border-bottom: 1px solid #9D9D9D;
}

.itemold:hover {
    font-weight: bold;
}

.newoldB {
    font-weight: bold;
}


@media(min-width: 1045px) {
    .container {
        max-width: 1044px !important;
    }
}

@media screen and (max-width: 470px) {
    .fields .normalText {
        width: 100%;
        margin-left: 0;
    }
    .fields .normalText:last-child {
        display: none;
    }
    .absoluteSearch {
        top: 29%;
    }
    .map {
        display: none;
    }
    .divcol {
        margin-right: 48px;
    }
    .hr {
        margin-left: 24px;
        margin-right: 24px;
    }
    .projects {
        margin-left: 24px;
        margin-right: 10px;
    }
    .projects:hover::before,
    .projects::before {
        left: 0;
    }
    .projects::before {
        width: 0px;
    }
    .projects:hover::before {
        width: 4px;
    }
    .projects .ml-48 {
        margin-left: 0;
    }
    .numbers {
        display: none;
    }
    .btnMobile {
        display: none;
    }
    .btnDesktop {
        display: block;
        width: 83%;
        margin-left: auto;
        margin-right: auto;
        float: none;
        margin-bottom: 40px;
    }
    .mapBig {
        width: 93%;
        height: 281px;
    }
    .otherContainer .ml-48 {
        padding: 0;
        margin-right: 23px;
    }
}