.container {
    margin-top: 162px;
    margin-bottom: 74px;
    padding: 0;
    overflow: hidden;
}

.divcol {
    padding: 0;
}

.mt--3 {
    margin-top: -3px;
}

.mt-0 {
    margin-top: 0;
}

.mt-8 {
    margin-top: 8px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-17 {
    margin-top: 17px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-33 {
    margin-top: 33px;
}

.mt-38 {
    margin-top: 38px;
}

.mt-44 {
    margin-top: 44px;
}

.mt-47 {
    margin-top: 47px;
}

.mt-49 {
    margin-top: 49px;
}

.mr-97 {
    margin-right: 97px;
}

.ml-14 {
    margin-left: 14px;
}

.ml-48 {
    margin-left: 48px;
}

.ml-137 {
    margin-left: 137px;
}

.mr-6 {
    margin-right: 6px;
}

.mr-8 {
    margin-right: 8px;
}

.mr-48 {
    margin-right: 48px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-42 {
    margin-bottom: 42px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-57 {
    margin-bottom: 57px;
}

.pl-36 {
    padding-left: 36px;
}

.h-326 {
    height: 326px;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.mt-mr {
    margin-top: -20px;
    margin-right: -22px;
}

.mt-mr2 {
    margin-top: 6px;
    margin-right: 9px;
}

.absoluteSearch {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
}

.hr {
    margin-bottom: 0;
}

.hoverOrange:hover {
    opacity: 0.8;
}

.project {
    height: 862px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.projects {
    height: 290px;
    border-bottom: 1px solid #9D9D9D;
    position: relative;
    cursor: pointer;
}

.projects .normalText span:last-child label {
    display: none;
}

.projects::before {
    content: '';
    position: absolute;
    left: 11px;
    top: 0;
    height: 100%;
    width: 4px;
    background: #FF8600;
    transition: .5s;
}

.projects:hover::before {
    left: 15px;
}

.map {
    width: 313px;
    height: 201px;
    background: gray;
    margin-left: 98px;
    overflow: hidden;
    position: relative;
}

.mapBig {
    position: relative;
    background: gray;
    width: 948px;
    height: 439px;
}

.modal {
    background: rgba(0, 0, 0, 0.5);
}

.message {
    text-align: center;
    background: white;
    position: relative;
    overflow: hidden;
    width: 470px;
    margin: 0 auto;
    margin-top: 90px;
    border-radius: 6px;
}

.message .title {
    font-size: 30px;
    line-height: 41px;
}

.showModal {
    display: block;
}

.grayBtn {
    content: 'Applied';
    background: #ECECEC;
    color: #9D9D9D;
}

.grayBtn:hover {
    background: #ECECEC;
    color: #9D9D9D;
    border: 0;
}

.orLines {
    color: #9D9D9D;
    float: left;
    width: 100%;
    position: relative;
}

.orLines::before,
.orLines::after {
    content: '';
    width: 151px;
    border: 0.5px solid #9D9D9D;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.orLines::before {
    left: 55px;
}

.orLines::after {
    right: 55px;
}

.w360 {
    width: 360px;
}

.pagination {
    overflow: hidden;
}

.buttonsPag {
    display: inline-flex;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27px;
    color: #9D9D9D;
    font-size: 14px;
    line-height: 43px;
    border: 0.5px solid #9D9D9D;
    text-align: center;
    height: 42px;
}

.firstPag {
    width: 92px;
    border-right: 0.5px solid #9D9D9D;
    cursor: pointer;
}

.prevPag {
    width: 126px;
    cursor: pointer;
    border-right: 0.5px solid #9D9D9D;
}

.numbers {
    width: 55px;
    border-right: 0.5px solid #9D9D9D;
    cursor: pointer;
}

.nextPag {
    width: 87px;
    cursor: pointer;
}

.lastPag {
    width: 94px;
    border-left: 0.5px solid #9D9D9D;
    cursor: pointer;
}

.clickP {
    color: #010973;
}

.bgP {
    background: #ECECEC;
    border-bottom: 0.5px solid #9D9D9D;
    color: #9D9D9D;
}

.btnDesktop {
    display: none;
}

@media(min-width: 1045px) {
    .container {
        max-width: 1044px !important;
    }
}

@media screen and (max-width: 470px) {
    .fields .normalText {
        width: 100%;
        margin-left: 0;
    }
    .fields .normalText:last-child {
        display: none;
    }
    .absoluteSearch {
        top: 29%;
    }
    .map {
        display: none;
    }
    .divcol {
        margin-right: 48px;
    }
    .hr {
        margin-left: 24px;
        margin-right: 24px;
    }
    .projects {
        margin-left: 24px;
        margin-right: 10px;
    }
    .projects:hover::before,
    .projects::before {
        left: 0;
    }
    .projects::before {
        width: 0px;
    }
    .projects:hover::before {
        width: 4px;
    }
    .projects .ml-48 {
        margin-left: 0;
    }
    .numbers {
        display: none;
    }
    .btnMobile {
        display: none;
    }
    .btnDesktop {
        display: block;
        width: 83%;
        margin-left: auto;
        margin-right: auto;
        float: none;
        margin-bottom: 40px;
    }
    .mapBig {
        width: 93%;
        height: 281px;
    }
    .otherContainer .ml-48 {
        padding: 0;
        margin-right: 23px;
    }
}