<div class="containerMin">
    <div class="container shadow" *ngIf="select == 0">
        <div class="divcol mt-44 ml-48">
            <form action="">
                <div class="row fields">
                    <div class="input-group">
                        <div class="searchGray absoluteSearch"></div>
                        <input type="text" class="form-control pl-36 col-sm-6" placeholder="Search for projects" [(ngModel)]="searchProject" name="searchProject">
                        <div class="normalText fl ml-48">
                            <p><strong>{{ projects2.length }} Results</strong></p>
                        </div>
                        <div class="normalText fr ml-137">
                            <p>Sort by: <span style="cursor: pointer;" class="orange hoverOrange" (click)="filterChange()"><strong
                                        *ngIf="changeFilter">Latest</strong>
                                    <strong *ngIf="!changeFilter">First</strong></span></p>
                            <div class="arrowDownGray fr mt-mr" (click)="filterChange()"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <hr class="hr mt-47">
        <div class="project">
            <div class="lds-roller" *ngIf="loading == true">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <ng-container *ngFor="let p of projects | search: searchProject | order: changeFilter; let i = index">
                <div class="projects row" (click)="sendInfo(p)" *ngIf="(i+1) >= start && (i+1) <= end">
                    <div class="col-sm-6 ml-48">
                        <p class="mt-47"><span class="title2">Project:</span> {{ p.projectname }}</p>
                        <p class="mt-20">{{ p.description }}</p>
                        <p class="mt-20">Status: {{ p.statusname }}</p>
                        <div class="mt-49 mb-42">
                            <div class="iconSkills fl mt-mr2"></div>
                            <p class="purple normalText"><span *ngFor="let s of p.skills">{{ s }}<label>,</label> </span> </p>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="map mt-47">
                            <agm-map [latitude]="p.latitude" [longitude]="p.longitude"></agm-map>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="pagination">
            <div class="buttonsPag">
                <div class="firstPag" [class.clickP]="start > 1" (click)="firstPage()">
                    <p>First</p>
                </div>
                <div class="prevPag" [class.clickP]="start > 1" (click)="prevPage()">
                    <p>Previous</p>
                </div>
                <div class="numbers clickP" [class.bgP]="start >= ((page*cantResul)-cantResul) && end <= (page*cantResul) " (click)="changePag(page)" *ngFor="let page of pages">
                    <p>{{ page }}</p>
                </div>
                <div class="nextPag" (click)="nextPage()" [class.clickP]="end < projects2.length">
                    <p>Next</p>
                </div>
                <div class="lastPag" [class.clickP]="end < projects2.length" (click)="lastPage()">
                    <p>Last</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container shadow otherContainer" *ngIf="select == 1">
        <div class="row fields mt-47 h-326">
            <div class="col-sm ml-48">
                <p><span class="title2">Project:</span> {{infoProject.projectname}}.</p>
                <p class="mt-12">Status: {{infoProject.statusname}}</p>
                <p class="mt-44">{{infoProject.description}}</p>
            </div>
            <div class="col-sm mr-48 btnMobile" *ngIf="this.emailV">
                <button class="blueBtn small fr" (click)="apply()" *ngIf="buttonApply; else aplicado"><span>Apply</span></button>
                <ng-template #aplicado>
                    <button class="blueBtn small fr disabled grayBtn" disabled><span>Applied</span></button>
                </ng-template>
            </div>
        </div>
        <hr class="hr">
        <div class="row fields">
            <div class="col-sm ml-48">
                <div class="title2">
                    <p>Hirer</p>
                </div>
                <div class="fields flex">
                    <div class="profile mini" [ngStyle]="{'background-image' : 'url('+infoProject.photo+')'}"></div>
                    <div class="ml-14">
                        <p class="title2 mt-0">{{infoProject.name}}</p>
                        <p class="mt-8"><span class="verify fl mr-6"></span>Verified user</p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr mt-33">
        <div class="row fields">
            <div class="col-sm ml-48">
                <div class="title2">
                    <p>Skills</p>
                </div>
                <div class="mt-20" style="overflow: hidden;">
                    <div class="skillsel onlySkill" *ngFor="let si of infoProject.skills">
                        <p>{{si}}</p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="hr mt-38">
        <div class="row fields">
            <div class="col-sm ml-48">
                <div class="title2">
                    <p>Location</p>
                </div>
                <p class="mt-17"><span class="locationIcon fl mr-8 mt--3"></span>{{infoProject.location}}</p>
            </div>
        </div>
        <hr class="hr mt-33">
        <div class="row fields">
            <div class="col-sm ml-48">
                <div class="title2">
                    <p>Location Map</p>
                </div>
                <div class="mapBig mt-20 mb-57">
                    <agm-map [latitude]="infoProject.latitude" [longitude]="infoProject.longitude"></agm-map>
                </div>
            </div>
        </div>
        <button class="blueBtn small fr btnDesktop" (click)="apply()" *ngIf="buttonApply; else aplicado"><span>Apply</span></button>
        <ng-template #aplicado>
            <button class="blueBtn small fr disabled grayBtn btnDesktop" disabled><span>Applied</span></button>
        </ng-template>
    </div>

    <div class="textv mr-97">
        <p>Explore</p>
    </div>

    <div class="modal" [class.showModal]="modal == 1">
        <div class="message">
            <div class="title mt-44">
                <p>You have successfully <br>applied to this offer</p>
            </div>
            <p class="mt-30 smallText">The hirer will reach out to you soon in the Messages <br>section to negotiate and agree on payment terms.</p>
            <a href="/Dashboard">
                <button class="blueBtn large mt-30 w360">Back to dashboard</button>
            </a>
            <span class="mt-12 mb-12 orLines">or</span>
            <button class="blueBtn large mb-45 w360" (click)=backExplore()>Back to explore</button>
        </div>
    </div>
</div>