<div class="container shadow">
  <div class="divcol mt-44 ml-48">
    <form action="">
      <div class="row fields">
        <div class="input-group">
          <div class="searchGray absoluteSearch"></div>
          <input type="text" class="form-control pl-36 col-sm-6" placeholder="Search for projects">
          <div class="normalText fl ml-48">
            <p><strong>1,382 Results</strong></p>
          </div>
          <div class="normalText fr ml-137">
            <p>Sort by: <a class="orange" href=""><strong>Latest</strong></a></p>
            <div class="arrowDownGray fr mt-mr"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <hr class="hr mt-47">
  <div class="project">
    <div class="projects row">
      <div class="col-sm-6 ml-48">
        <p class="mt-47"><span class="title2">Project:</span> Excavation at 280 S.</p>
        <p class="mt-20">Project Description...</p>
        <p class="mt-20">Status: Open</p>
        <div class="mt-49 mb-42">
          <div class="iconSkills fl mt-mr2"></div>
          <p class="purple normalText">Excavation, plumbing, flooring, concrete </p>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="map mt-47"></div>
      </div>
    </div>
  </div>
</div>
<div class="textv mr-97">
  <p>Explore</p>
</div>