<form #formProject="ngForm" (ngSubmit)="addProject(formProject)" class="form-Project">
  <div class="home" *ngIf="select == 0">
    <div *ngIf="HomeFormularioNw == 0">
      <div class="list-group" *ngIf="up == true">
        <div
          class="list-group-item"
          *ngFor="let s of childData1 | async"
          (click)="selectskill(s)"
        >
          <p>{{ s.Project }}</p>
        </div>
      </div>
      <div class="started py-5">
          <div class="container py-5">
            <div class="started-title mt-2 pt-5">You don’t have any projects</div>
            <div class="started-button mt-2" (click)="next()">Get Started</div>        
          </div>
      </div>
    </div>
    <div *ngIf="HomeFormularioNw == 1">
      <div class="container skill">
        <div class="row">
          <div class="project-title">
            Project’s name
          </div>
        </div>
        <div class="row my-2">
          <div class="col-sm-6 input-group">
            <input
              required
              type="text"
              class="form-control"
              placeholder="e.g. Excavation at 280 S."
              name="projectname"
              id="projectname"
            />
          </div>
        </div>
        <div class="row my-2">
          <div class="project-title my-2">
            Project description 
          </div>
          <p>Type what the project is about and the estimated time you expect it to be completed. Include an overview of what you need done.</p>
        </div>
        <div class="row my-3">
          <div class="col-sm input-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Describe your project here..."></textarea>
          </div>
        </div>
        <div class="row text-right">
          <div class="col-sm">
            <span>4000 characters remaining</span>
          </div>
        </div>
        <div class="row my-2">
          <div class="project-title my-2">
            Brief material
          </div>
          <p>Add any documents or images that might be helpful in explaining more about your project.</p>
        </div>
        <div class="row my-3">
          <div class="col-sm-2 input-group addfileborder py-4 px-3">
            <button class="btn btn-addfile">Add a file</button>
          </div>
          <div class="col-sm-2 input-group pl-5">
            <img src="../../../../../assets/iconos/plus-button.svg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="title2">
            What do you need help with?
          </div>
        </div>
        <div class="row">
          <div class="col-sm input-group">
            <input
              type="text"
              readonly
              class="form-control"
              placeholder="Select job category"
              id="Selectjobcategory"
              name="Selectjobcategory"
            />
            <div
              class="down"
              [ngClass]="{ up3: up3 == true }"
              (click)="list3(1)"
            ></div>
          </div>
        </div>
        <div class="list-group" [hidden]="up3 == false">
          <div
            class="list-group-item"
            *ngFor="let s of skills1"
            (click)="selectskill(s)"
          >
            <p>{{ s }}</p>
          </div>
        </div>
        <div class="skillselct" [hidden]="selectskills == null">
          <div class="skillsel">
            <p>{{ selectskills }}</p>
            <div class="close" (click)="close(1)"></div>
          </div>
        </div>
      </div>
      <div class="row">
              <div class="title2">
                How many people?
              </div>
            </div>
            <div class="row skill2Howmany">
              <div class="col-sm-6 input-group">
                <input
                  type="text"
                  readonly
                  class="form-control"
                  [placeholder]="howmany"
                  id="selmanypeople"
                  name="selmanypeople"
                />
                <div class="down" (click)="list4()"></div>
              </div>
              <div class="col-sm empleos1012">
                Average rate 10 - 12 / Hour
              </div>
            </div>
            <div class="col-sm-6 list-group" [hidden]="up5 == false">
              <div
                class="list-group-item"
                *ngFor="let s of skills2Howmany"
                (click)="selectskill2up5(s)"
              >
                <p>{{ s }}</p>
              </div>
            </div>
            <div class="form-check checkbox">
            <input
              type="checkbox"
              class="form-check-input input-assumpte"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
              ><span>All workers must take a background test.</span></label
            >
          </div>
          <div class="form-check checkbox">
            <input
              type="checkbox"
              class="form-check-input input-assumpte"
              id="exampleCheck2"
            />
            <label class="form-check-label" for="exampleCheck2"
              ><span>All workers must pass a background test.</span></label
            >
          </div>
          <button class="btn btn-outline-warning next" *ngIf="page == 3">
          Finish
        </button>
    </div>
  </div>
</form>