#ContenedorBannerHome {
  width: 100%;
    padding: initial;
    max-width: initial;
    height: 100%;

}

.imgSliderHome {
    /*width: 630px;
    height: 344px;*/
    width:  calc(325px + (630 - 325) * ((100vw - 375px) / (1920 - 375)));
    height:  calc(176px + (344 - 176) * ((100vw - 375px) / (1920 - 375)));

}
.sectionHome1{
    margin-top: 190px;
}

.imgAbout{

    width:  calc(245px + (540 - 245) * ((100vw - 375px) / (1920 - 375)));
    height:  calc(252px + (555 - 252) * ((100vw - 375px) / (1920 - 375)));
}


.contenedorseccionbanner {
    margin: 0 auto;
    margin-top: 90px;
   /* overflow: hidden;*/
}

.contenedorderechaseccion2Home {
    margin-top: 70px;
}

.subtituloseccionbannerhome {
    width: 480px;
    margin-top: 20px;
}

.btnPro {
    
    margin-left: 37px;
}

.btnHomeSection{
margin-top: 40px;
}
.text2seccion2home{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    width: 600px;
    line-height: 36px;
    margin-top: 50px;
    margin-bottom: 70px;
}

/* Inicio Seccion 2 Home */
#Aboutus{
    padding-top: 300px;
}


/* Fin Seccion 2 Home */


/* Inicio Seccion 3 Home */

#seccion3Home {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #010973;
    position: relative;
    margin-top: 80px;
}

.contenedorinfoseccion3Home {
    width: 305px;
    float: left;
    margin-bottom: 20px;
}

.contenedorseccion3Home {
    margin: 0 auto;
    margin-top: 90px;
    padding-bottom: 170px;
}

.cuadroinfoseccion3home {
  
    /*width: 223px;
    height: 263px;*/

    width:  calc(133px + (223 - 133) * ((100vw - 375px) / (1920 - 375)));
    height:  calc(157px + (263 - 157) * ((100vw - 375px) / (1920 - 375)));

    margin: 0 auto;
}
.cuadroinfoseccion3home img{
    width: 100%;
    height: 100%;
}
.tituloseccion3home {
    color:#ffffff;
    margin-top: 40px;
}

.cuadrosecundseccion3home {
    width: 9px;
    height: 9px;
    background-color: #F08E00;
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
}

.subtituloseccion3home {
    width: 100%;
    overflow: hidden;
}

.subtituloseccion3home p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    margin-top: 10px;

}

.contenedortituloseccion3home {

    color: #FFFFFF;
    margin-top: 170px;

}


/* Fin Seccion 3 Home */


/* Inicio Seccion 4 Home */

/* Fin Seccion 4 Home */

@media screen and (max-width: 1345px) {
    .imgSliderHome{
        left: 50%;
        position: relative;
        transform: translate(-50%);
        /*width: 100%;
        height: auto;*/
    }
    .subtituloseccionbannerhome{
        width: 100%;
    }
    .text2seccion2home{
        width: 100%;
    }
   
}

@media screen and (max-width: 991px) {
    .sectionHome1{
        display: flex;
    }
    .izquierdaseccion2home{
        order: 2;
        margin-top: 60px;
    }
    .derechaseccion2home{
        order: 1;
    }
    .imgSliderHome{
       /* width: 630px;
        height: 344px;*/
    }
    .sectionAbout{
        padding-top: 0px;
    }
    #Aboutus{
        padding-top: 150px;
    }
    .imgAbout{
        left: 50%;
    position: relative;
    transform: translateX(-50%);
    }
    .contenedortituloseccion3home {
        margin: 0 auto;
        margin-top: 170px;
    }
    .containertituloseccion3home{
        text-align: center;
    }
    .arrowTop1{
        display: none;
    }
    .subtituloseccion3home p{
        font-size: 14px;
        line-height: 24px;
    }
    .tituloseccion3home{
        font-size: 26px;
        line-height: 35px;
    }
}




@media screen and (max-width: 650px) {
   /* .imgSliderHome{
      width: 100%;
      height: auto;
    }*/
   
}
@media screen and (max-width: 480px) {
    .btnHomeSection .orangeBtn{
      width: 100%;
      margin-bottom: 15px;
    }
    .btnHomeSection .btnPro{
        width: 100%;
        margin-left: 0px;

    }
   
}
/*
@media screen and (max-width: 990px) {
    .contenedortituloseccion3home {
        padding-top: 45px;
    }
    #seccion3Home {
        height: auto;
        padding-bottom: 45px;
    }
    .contenedorseccionbanner {
        margin-top: auto;
    }
}

@media screen and (max-width: 768px) {
    #seccion2Home {
        height: 870px;
    }
    .izquierdaseccion2home,
    .derechaseccion2home {
        height: 50%;
    }
}

@media screen and (max-width: 500px) {
    .subtituloseccionbannerhome {
        width: 100%;
        margin-top: 20px;
    }
}*/