#ContenedorBannerHome {
  width: 100%;
    padding: initial;
    max-width: initial;
    height: 100%;

}

.imgSliderHome {
    width: 630px;
    height: 344px;

}
.sectionHome1{
    margin-top: 190px;
}

.imgAbout{
    width: 540px;
    height: 555px;
}


.contenedorseccionbanner {
    margin: 0 auto;
    margin-top: 90px;
    overflow: hidden;
}

.contenedorderechaseccion2Home {
    margin-top: 70px;
}

.subtituloseccionbannerhome {
    width: 480px;
    margin-top: 20px;
}

.btnPro {
    
    margin-left: 37px;
}

.btnHomeSection{
margin-top: 40px;
}
.text2seccion2home{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    width: 600px;
    line-height: 36px;
    margin-top: 50px;
    margin-bottom: 70px;
}

/* Inicio Seccion 2 Home */
#Aboutus{
    padding-top: 300px;
}


/* Fin Seccion 2 Home */


/* Inicio Seccion 3 Home */

#seccion3Home {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #010973;
    position: relative;
    margin-top: 80px;
}

.contenedorinfoseccion3Home {
    width: 305px;
    float: left;
    margin-bottom: 20px;
}

.contenedorseccion3Home {
    margin: 0 auto;
    margin-top: 90px;
    padding-bottom: 170px;
}

.cuadroinfoseccion3home {
    width: 223px;
    height: 263px;
    margin: 0 auto;
}

.tituloseccion3home {
    color:#ffffff;
    margin-top: 40px;
}

.cuadrosecundseccion3home {
    width: 9px;
    height: 9px;
    background-color: #F08E00;
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
}

.subtituloseccion3home {
    width: 100%;
    overflow: hidden;
}

.subtituloseccion3home p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    margin-top: 10px;

}

.contenedortituloseccion3home {

    color: #FFFFFF;
    margin-top: 170px;

}


/* Fin Seccion 3 Home */


/* Inicio Seccion 4 Home */

/* Fin Seccion 4 Home */
/*
@media screen and (max-width: 1320px) {
    .contenedorderechaseccion2Home {
        width: calc(100% - 60px) !important;
    }
}

@media screen and (max-width: 990px) {
    .contenedortituloseccion3home {
        padding-top: 45px;
    }
    #seccion3Home {
        height: auto;
        padding-bottom: 45px;
    }
    .contenedorseccionbanner {
        margin-top: auto;
    }
}

@media screen and (max-width: 768px) {
    #seccion2Home {
        height: 870px;
    }
    .izquierdaseccion2home,
    .derechaseccion2home {
        height: 50%;
    }
}

@media screen and (max-width: 500px) {
    .subtituloseccionbannerhome {
        width: 100%;
        margin-top: 20px;
    }
}*/