<div *ngIf="menuVista == 'Home'" class="">
  <img class="imagenesMEnuDerecha" src="../../../assets/imagenes/Home.svg" alt="">
</div>

<div *ngIf="menuVista == 'Inbox'" class="">
  <img class="imagenesMEnuDerecha" src="../../../assets/imagenes/inboxchat.svg" alt="">
</div>

<div *ngIf="menuVista == 'Projects'" class="">
  <img class="imagenesMEnuDerecha" src="../../../assets/imagenes/Projects.svg" alt="">
</div>


  <section class="contentHire">



  <div class="row">
    <div class="col-sm-3" >

      <div class="menuYaLoguiado">
        <div class="profilleloguiado">
          <div class="blueprofileicon"></div>

          <div class="nomsi"><span>Welcome</span><br>John Doe</div>

        </div>
        <div class="menuTeam">
          <div class="">
            <div (click)="menu(1)" class="itemsprincipales" [class.itemsprincipales1]="m == 1">
              <div class="t1m">Home</div>
              <div class="flechateam"></div>
            </div>
            <div (click)="menu(2)" class="itemsprincipales" [class.itemsprincipales1]="m == 2">
              <div class="t1m">Inbox</div>
              <div class="flechateam"></div>
            </div>
            <div class="menusmall margintopinbox" *ngIf="menushow == true">
              <div class="option">Inbox</div>
              <div class="option">Sent</div>
              <div class="option ">Trash</div>
            </div>
            <div (click)="menu(3)" class="itemsprincipales" [class.itemsprincipales1]="m == 3">
              <div class="t1m">Projects</div>

            </div>

            <div (click)="menu(4)" class="itemsprincipales" [class.itemsprincipales1]="m == 4">
              <div class="t1m">Explore</div>

            </div>

            <div (click)="menu(5)" class="itemsprincipales" [class.itemsprincipales1]="m == 5">
              <div class="t1m">Sign Out</div>

            </div>
          </div>

        </div>
      </div>


    </div>
    <div class="col-sm-8" >

        <div class="conxenhireright">

          <div *ngIf="menuVista == 'Home'" class="menuHome">
            <app-menu-home></app-menu-home>
          </div>
          <div *ngIf="menuVista == 'Inbox'" class="menuHome">
          <app-inbox></app-inbox>
          </div>
          <div *ngIf="menuVista == 'Projects'" class="menuHome">
            <app-menu-projects></app-menu-projects>
          </div>

          <div *ngIf="menuVista == 'Explore'" class="menuExplore">
            hola3
          </div>

          <div *ngIf="menuVista == 'Start'" class="menuStart">
            hola4
          </div>
        </div>
      </div>
    </div>



</section>
