<div class="input-group">
    <input type="text" class="form-control search0" placeholder="Search by name, status or project. ">
    <div class="search"></div>
  </div>

  <div class="chat">
    <div class="cols-sm-3">
        <div class="profileother">
          <div class="titleinbox">Subject Line</div>
          <div class="imguser"></div>
          <div class="continbox">
            <div class="emailin">Email Name Space</div>
            <div class="availble">
              <div class="status"></div>
              <p>Available </p>
            </div>
          </div>
          <div class="dropdown-divider"></div>
        </div>
    </div>
    <div class="cols-sm-6"></div>
  </div>
