<div class="sec1">
  <p>Project: <span>Excavation at 280 S.</span></p>
  <input type="text" placeholder="Excavation at 280 S.">
  <div class="arrowd"></div>
</div>
<div class="maps">
  <agm-map [latitude]="lat" [longitude]="lng" class="map">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div>
<div class="info2">
  <p class="p1">This is what Jimmy needs from you</p>
  <div class="dropdown-divider div"></div>
  <p class="p2">Tags</p>
  <div class="box">
    <div class="box1">
      <p>Drywall</p>
    </div>
    <div class="line"></div>
    <div class="box2">
      <p>Drywall Hanger</p>
    </div>
  </div>
  <div class="seccion">
    <div class="img"></div>
    <p>Location</p>
  </div>
  <div class="dropdown-divider div"></div>
  <p class="p3">1234 Meadow Dr. Unit 123 Wynwood, FL 33127</p>
  <div class="seccion2">
    <div class="img2"></div>
    <p>Additional Comments</p>
  </div>
  <div class="dropdown-divider div"></div>
  <p class="p4">My whole front driveway is disgusting and I need help installing a new one. I think there are some utility lines; not sure so please help.</p>
</div>