.options {
    display: -webkit-box;
    float: right;
}

.option::before {
    display: none;
}

.option {
    margin: 0;
    margin-top: 40px;
    margin-right: 20px;
    color: #9D9D9D;
    cursor: pointer;
}

.option:hover {
    color: #010973;
    text-decoration: underline;
}

.optionActive {
    color: #010973;
    text-decoration: underline;
}

.mt-17 {
    margin-top: 17px;
}

.mt-22 {
    margin-top: 22px;
}

.mt-30 {
    margin-top: 30px;
}

.ml-48 {
    margin-left: 48px;
}

.mr-48 {
    margin-right: 48px;
}

.gray {
    color: #9D9D9D;
    font-size: 14px;
    display: -webkit-box;
}

.arrowDownGray {
    margin-left: 3px;
    margin-top: 4px;
}

.webkit {
    display: -webkit-box;
    float: right;
    margin-right: 62px;
}

.options .option:last-child {
    margin-right: 0;
}

.messageIcon,
.messageDisabled {
    margin-right: 25px;
}

.trash {
    margin-top: -5px;
}

.messageIcon:hover,
.trash:hover {
    opacity: 0.7;
}

.p-0 .col-sm {
    padding: 0;
}

.fixed {
    position: fixed;
}

.btnInitialDash {
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

.btnInitialDash button {
    margin-top: 35px;
}

.dotStatus::before {
    top: 41%;
    transform: translateY(-50%);
    left: -19px;
}

.proMobile {
    height: 308px;
    overflow-y: auto;
    overflow-x: hidden;
}

.proMobile .col-sm-4 {
    cursor: pointer;
}

.proMobile .col-sm-4:hover {
    opacity: 0.7;
}

.textProjectEmpty {}

.textProjectEmpty p:first-child {
    font-weight: 800;
    font-size: 45px;
    line-height: 120%;
}

.textProjectEmpty p:nth-child(2) {
    font-size: 16px;
    line-height: 155%;
    margin-top: 53px;
}

.textProjectEmpty .blueBtn {
    margin-top: 52px;
}

@media screen and (min-width: 1440px) {
    .iconShowProject {
        right: 257px;
    }
}

@media screen and (max-width: 470px) {
    .mobile {
        display: none;
    }
    .proMobile .row .col-sm:nth-child(2) {
        margin-top: 8px;
        font-size: 12px;
    }
    .proMobile .row .col-sm:nth-child(2) p::before {
        content: 'Status: ';
    }
    .proMobile .row .col-sm:last-child {
        margin-top: -25px;
    }
}