<div class="alert alert-warning fixed" [class.alertInitial]="alert == 1" role="alert">
    The <strong>project</strong> has been deleted
</div>
<div class="container shadow">
    <div class="row">
        <div class="col-sm">
            <div class="title2 ml-48">
                <p>Projects</p>
            </div>
        </div>
        <div class="col-sm">
            <div class="options mr-48">
                <div class="option" [class.optionActive]="f == 5" (click)="filterStatus(5)">
                    <p>All</p>
                </div>
                <div class="option" [class.optionActive]="f == 2" (click)="filterStatus(2)">
                    <p>Active</p>
                </div>
                <div class="option" [class.optionActive]="f == 1" (click)="filterStatus(1)">
                    <p>Pending</p>
                </div>
                <!-- <div class="option">
          <p>Deleted</p>
        </div> -->
            </div>
        </div>
    </div>
    <hr class="hr mt-30">
    <div class="row ml-48 mt-17 p-0">
        <div class="col-sm gray">
            <p>Name</p>
            <div class="arrowDownGray" (click)="azOrder()"></div>
        </div>
        <div class="col-sm gray">
            <p>Status</p>
            <div class="arrowDownGray" (click)="azStat()"></div>
        </div>
        <div class="col-sm"></div>
    </div>
    <div class="mt-17">
        <ng-container *ngFor="let p of projects | filter: f | az: az | azStatus: azStatus">
            <ng-container>
                <div class="row ml-48 mt-22 p-0">
                    <div class="col-sm">
                        <p>{{p.projectname}}</p>
                    </div>
                    <div class="col-sm">
                        <p>{{p.statusname}}</p>
                    </div>
                    <div class="col-sm">
                        <div class="webkit">
                            <div class="messageIcon"></div>
                            <div class="trash" (click)="trash(p)"></div>
                        </div>
                    </div>
                </div>
                <hr class="hr mt-22">
            </ng-container>
        </ng-container>
    </div>
</div>