.mt-44{
  margin-top: 14%;
}
.pt-50{
  padding-top: 30%;
}
.container{
  margin-top: 12%;
  margin-bottom: 18%;
  padding: 0;
}
.divcol{
  padding: 0;
}
.title2{
  margin: 0;
}
#btmessage:hover{
  cursor: not-allowed;
}
.cancelRate{
  background-color: #ffffff;
  color: #010973;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 200%;
}
.ngb-rating{
  font-size: 26px;
  color: #9D9D9D;
}
.ngb-rating:hover{
  color: #010973;
}