<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="cont">
        <div class="profile"></div>
        <div class="textw">
          <p>Welcome</p>
          <p>Mauro Poche</p>
        </div>
      </div>
      <div class="dropdown-menu show">
        <div class="dropdown-item">Home</div>
        <div class="dropdown-divider"></div>
        <div class="dropdown-item">Inbox</div>
        <div class="dropdown-divider"></div>
        <div class="dropdown-item">Projects</div>
        <div class="dropdown-divider"></div>
        <div class="dropdown-item">Explore</div>
        <div class="dropdown-divider"></div>
        <div class="dropdown-item">Sign Out</div>
      </div>
    </div>
    <div class="col-sm-6"></div>
  </div>
</div>
