<div class="">
  <div class="row">
    <div class="title2 t2mar0">
      See who’s out there.
    </div>
  </div>
  <div class="row">

    <div class="col-sm input-group margintop10ex">
      <input type="text" readonly class="form-control" placeholder="What type of job do you need help with?" id="Selectjobcategory">
      <div class="down" [ngClass]="{'upf': upf == true}" (click)='list3(1)'></div>
    </div>
  </div>
  <div class="list-group listexplore" [hidden]='upf == false'>
    <div class="list-group-item" *ngFor="let s of skills1" >
      <p>{{s}}</p>
    </div>
  </div>
</div>

<div>
  <div class="container skill">


    <div class="fields20 container">

      <div class="row">

        <div class="col-sm submensajeshire">
          Where is the job’s location?
        </div>

        <div class="col-sm submensajeshire">
Enter timeframe
        </div>
      </div>
      <div class="row">

        <div class="col-sm input-group">
          <input type="text" class="form-control" id="EnterAddress1" name="EnterAddress1" ngModel #name="ngModel" placeholder="Enter Address">
        </div>
        <div class="col-sm input-group">
          <input class="form-control" id="date" name="date" placeholder="Date" type="text" />

          <span class="tospan">to</span>
          <input class="form-control" id="date1" name="date1" placeholder="Date" type="text" />
        </div>
      </div>

      <br>
      <div class="row">

        <div class="col-sm submensajeshire">
Set hiring radius
        </div>
      </div>
      <div class="row skill2Howmany">
        <div class="col-sm-6 input-group">
          <input type="text" readonly class="form-control" [placeholder]="Enterradiusinmiles" id="Enterradiusinmiles">
          <div class="down"  (click)='list5()'></div>
        </div>
      </div>
      <div class="col-sm-6 list-group listexplore" [hidden]='up6 == false'>
        <div class="list-group-item" *ngFor="let s of skills2Howmany" (click)='selectskill2up6(s)'>
          <p>{{s}}</p>
        </div>
      </div>
<hr>
    </div>
    <div class="info container">
      <p>Are you willing to hire outside of your hiring radius?</p>
    </div>
    <div class="fields2 container">
      <div class="row">
        <div class="btnHome">
          Yes
        </div>

        <div class="btnHome">
          No
        </div>

      </div>
    </div>
    <div class="title2 container">
      <p>Please enter extra hourly rate you’d pay for outside
        <br>your hiring radius.</p>
    </div>
<div class="row">
<div class="col-sm ">
<div class="custom-slider" style="margin-top:30px">
  <ng5-slider [(value)]="value" class="inputrangenaranja" [options]="options"></ng5-slider>
</div>
</div>
</div>

<div class="row">
  <div class="form-check checkbox">
      <input type="checkbox" class="form-check-input input-assumpte" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1"><span>All workers must take a background test.</span></label>
    </div>

  </div>
  <div class="row">
    <div class="form-check checkbox">
      <input type="checkbox" class="form-check-input input-assumpte" id="exampleCheck2">
      <label class="form-check-label" for="exampleCheck2"><span>All workers must pass a background test.</span></label>
    </div>
</div>

  </div>



</div>
