<!-- Modal Sign in-->
<div class="modal fade " [ngClass]="{'abrir': abrir == true}" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">


                <div class="contenedorImagen">
                    <div class="tituloContImg">
                        Sign in to Onhive
                    </div>

                    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)" class="Formulario" *ngIf="Forgot==0">
                        <div class="fields container">
                            <div class="row">
                                <div class="col-sm input-group">
                                    <input class='validate form-control heigInput' id="exampleInputEmail1" type='email' (ngModel)="email" name='email' placeholder="E-mail" required/>

                                </div>
                            </div>
                            <div class="row classMargincampo">
                                <div class="col-sm input-group">

                                    <input class='validate form-control heigInput' type='password' id="exampleInputPassword1" (ngModel)="password" name='password' placeholder="Password" required/>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm input-group">
                                    <button [disabled]="!formData.valid" class="botonNaranja">
                                        Continue
                                    </button>
                                </div>
                            </div>
                            <div class="row lineaFinalultimate">
                                <div class="col-sm input-group">
                                    <div>
                                        <label class="checkbox">
                                            <input type="checkbox" class="checkbox__input"/>
                                            <span class="checkbox__checkmark"></span>
                                            <span class="remember_me">Remember me</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm input-group">
                                    <div class='forgotPass' (click)="Forgot1()">
                                        Forgot your password
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm memberSing">
                                    Not a member yet? <a>Sign up</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="center" *ngIf="Forgot==1">

                        <div class="z-depth-1 grey lighten-4 row" style="margin-top:50px; height: 150px;">
                            <form #formData='ngForm' (ngSubmit)="onRecuperation(formData)" class="col s12" method="post">
                                <div class="row">
                                    <div class="col-sm input-group">
                                        <div class="input-group-prepend">
                                            <div class="icon_img usuarioNaranja"></div>
                                        </div>
                                        <input class='validate form-control' id="exampleInputEmail1" type='email' (ngModel)="email" name='email' placeholder="Username" required/>

                                    </div>
                                </div>
                                <br />
                                <div class="principal">
                                    <div class='row'>
                                        <button [disabled]="!formData.valid" class="botonNaranja">
Ok
</button> </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <br>
                    <span class="error" *ngIf="error">{{ error }}</span>
                    <span class="error" id="eror2" *ngIf="error2">{{ error2 }}</span>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal Sign UP-->
<div class="modalup fade " [ngClass]="{'abrirup': abrirup == true}" id="exampleModalup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">


                <div class="contenedorImagen">
                    <div class="tituloContImg">
                        Sign in to Onhive
                    </div>
                    <div class="botonesOnsite">
                        <a class="decora">
                            <div [ngClass]="{'activar': activar == false}" class=" bhirenone bpro">
                                As a Pro
                            </div>
                        </a>
                        <a class="decora">
                            <div [ngClass]="{'activar1': activar1 == true}" class="bhirenone bpro">
                                As a Hire
                            </div>
                        </a>
                    </div>
                    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)" class="Formulario" *ngIf="Forgot==0">
                        <div class="fields container">
                            <div class="row">
                                <div class="col-sm input-group">
                                    <input class='validate form-control heigInput' id="exampleInputEmail1" type='email' (ngModel)="email" name='email' placeholder="E-mail" required/>

                                </div>
                            </div>
                            <div class="row classMargincampo">
                                <div class="col-sm input-group">

                                    <input class='validate form-control heigInput' type='password' id="exampleInputPassword1" (ngModel)="password" name='password' placeholder="Password" required/>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm input-group">
                                    <button [disabled]="!formData.valid" class="botonNaranja">
                                        Continue
                                    </button>
                                </div>
                            </div>
                            <div class="row lineaFinalultimate">
                                <div class="col-sm input-group">
                                    <div>
                                        <label class="checkbox">
                                            <input type="checkbox" class="checkbox__input"/>
                                            <span class="checkbox__checkmark"></span>
                                            <span class="remember_me">Remember me</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm input-group">
                                    <div class='forgotPass' (click)="Forgot1()">
                                        Forgot your password
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm memberSing">
                                    Not a member yet? <a>Sign up</a>
                                </div>
                            </div>
                        </div>
                    </form>


                    <br>
                    <span class="error" *ngIf="error">{{ error }}</span>
                    <span class="error" id="eror2" *ngIf="error2">{{ error2 }}</span>
                </div>
            </div>
        </div>
    </div>
</div>