.modal-content {
    height: 100%;
}

.heigInput {
    height: 45px;
}

.btnup {
    float: left;
    margin-right: 13px;
    width: 170px !important;
    height: 52px;
}

.botonesOnsite {
    margin: 0 auto;

}

.colorGris {
    color: #9D9D9D;
}
.textNormalmsm{
    font-size: 18px;
    line-height: 27px;
    text-align: center;
}
.margint30 {
    margin-top: 30px !important;
}


/***/

.checkbox {
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: flex;
    position: relative;
}

.checkbox__input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
}

.checkbox__input:checked~.checkbox__checkmark::after,
.checkbox__input:checked:hover~.checkbox__checkmark::after {
    display: block;
}

.checkbox__input:focus~.checkbox__checkmark {
    border-color: #9D9D9D;
}

.checkbox__checkmark {
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid #9D9D9D;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-right: 0.5rem;
    min-height: 23px;
    min-width: 23px;
}

.checkbox__checkmark::after {
    border: solid #21D8C6;
    border-width: 0 2px 2px 0;
    content: "";
    display: none;
    height: 13px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 7px;
}

.forgot p {
    text-align: center;
    margin-top: 30px;
}

.flechaforgot {
    position: absolute;
    margin-top: 15px;
}


/* Page setup, nothing to do with the checkbox */

body {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100vh;
    font-family: verdana, arial, sans-serif;
}


/***/

.remember_me {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.botonNaranja:hover {
    background: transparent;
    border: 1px solid #FF8600;
    color: #FF8600;
}

.botonNaranja:active {
    background: #FFB665 !important;
    color: white !important;
    border-color: #FFB665 !important;
}

.botonNaranja:disabled {
    background: #FFB665 !important;
    color: white !important;
    border-color: #FFB665 !important;
}

.modal.show .modal-dialog,
.modalup.show .modal-dialog {
    max-width: 470px;
    height: 523px;
    background: #FFFFFF;
    margin-top: 150px !important;
}

.modal-body {
    padding: 0px;
    overflow: visible;
}

.contenedorImagen {
    float: right;
    width: 100%;
    padding: 50px;
    margin: 0;
    position: absolute;
    right: 0;
    height: 100%;
    overflow: hidden;
    margin-bottom: 150px !important;
}

.tituloContImg {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 52px;
    text-align: center;
    color: #000000;
}

.Formulario {
    margin-top: 40px;
}

.labelpass {
    margin-top: 30px;
}

.forgotPass {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FF8600;
}

.memberSing {
    margin-top: 70px;
    text-align: center;
}

.memberSing a {
    color: #FF8600;
}

.botonNaranja {
    width: 100%;
    height: 45px;
    background: #E76800;
    border: 1px solid #E76800;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-top: 20px;
}

.lineaFinalultimate {
    margin-top: 25px;
}

.btnLogin {
    width: 73.11px;
    height: 30px;
    border: 1px solid #F08E00;
    box-sizing: border-box;
    margin-top: 4px;
}

.logoOn {
    width: 144.82px;
    height: 39px;
}

.abrir .modal-backdrop,
.abrir {
    display: none !important;
}

.classMargincampo {
    margin-top: 20px;
}

@media screen and (max-width: 1320px) {
    .modal.show .modal-dialog {
        /*   background-color: blue;*/
        width: calc(100% - 60px) !important;
        margin: 0 auto;
    }
}