.modal-content {
    height: 100%;
}

.modal.show .modal-dialog {
    width: 708px;
    height: 660px;
    background: #FFFFFF;
    margin-top: 310px;
}

.modal-body {
    padding: 0px;
    overflow: visible;
}

.close {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
    font-size: 16px;
    background: #E76800;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    border-radius: 50px;
    width: 27px;
    height: 27px;
    opacity: 1;
    margin-right: -10px;
    margin-top: -10px;
    position: relative;
    z-index: 1;
}

.contenedorImagen {
    float: right;
    width: 100%;
    padding-top: 85px;
    margin: 0;
    position: absolute;
    right: 0;
    height: 100%;
    padding-left: 50px;
    padding-right: 60px;
    overflow: hidden;
}

.tituloContImg {
    font-family: 'Mukta', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 42px;
    font-size: 45px;
    color: #704300;
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 15px;
}

.tituloContImg span {
    color: #E76800;
}

.botonesOnsite div {
    width: 96px;
    height: 36px;
    border: 1px solid #E76800;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.025em;
    color: #E76800;
    line-height: 35px;
    margin-right: 3px;
}

.botonesOnsite {
    margin-top: 18px;
    display: inline-flex;
}

.Formulario {
    margin-top: 40px;
}

.Formulario label {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 16px;
    letter-spacing: -0.025em;
    padding-bottom: 7px;
    color: #74767F;
}

.labelpass {
    margin-top: 30px;
}

.usuarioNaranja {
    background-image: url("../../../assets/iconos/usuarioNaranja.svg");
}

.llaveNaranja {
    background-image: url("../../../assets/iconos/llaveNaranja.svg");
}

.icon_img {
    width: 21px;
    height: 21px;
    margin-top: 8px;
    background-size: cover;
    background-repeat: no-repeat;
}

.forgotPass {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 12px;
    letter-spacing: -0.025em;
    color: #C2C2C2;
    margin-top: 8px;
    margin-left: -15px;
    cursor: pointer;
}

.botonNaranja {
    width: 96px;
    height: 27px;
    background: #E76800;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 15px;
    text-align: center;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    position: absolute;
    margin-right: 15px;
    right: 0;
    line-height: 25px;
}

.bhirenone {
    border: none !important;
}

.decora {
    text-decoration: none;
}

.lineaFinalultimate {
    margin-left: 35px;
    margin-top: 25px;
}

.btnLogin {
    width: 73.11px;
    height: 30px;
    border: 1px solid #F08E00;
    box-sizing: border-box;
    margin-top: 4px;
}

.logoOn {
    width: 144.82px;
    height: 39px;
}

.abrir .modal-backdrop,
.abrir {
    display: none !important;
}