.modal-content {
    height: 100%;
}

.heigInput {
    height: 45px;
}

.btnup {
    float: left;
    margin-right: 13px;
    width: 170px !important;
    height: 46px;
}

.botonesOnsite {
    margin: 0 auto;

}

.colorGris {
    color: #9D9D9D;
}
.textNormalmsm{
    font-size: 18px;
    line-height: 27px;
    text-align: center;
}
.margint30 {
    margin-top: 30px !important;
}
.activarbtn{
    background-color: white !important;
    color: #010973 !important;
    border: 1px solid #010973 !important;

}


/***/


.forgot p {
    text-align: center;
    margin-top: 30px;
}

.flechaforgot {
    position: absolute;
    margin-top: -16px;
    cursor: pointer;
}
.cerrarModal{
    height: 30px;
    width: 30px;
    margin-top: 45px;
    margin-right: 30px;
    padding: 0;
    top: 0;
    background-image: url("../../../assets/iconos/cerrarModal.svg");
}

.cerrarModal:hover{
    opacity: 0.7;
}



body {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100vh;
    font-family: verdana, arial, sans-serif;
}


/***/

.remember_me {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.botonNaranja:hover {
    background: transparent;
    border: 1px solid #FF8600;
    color: #FF8600;
}

.botonNaranja:active {
    background: #FFB665 !important;
    color: white !important;
    border-color: #FFB665 !important;
}



.modal.show .modal-dialog,
.modalup.show .modal-dialog {
    max-width: 470px;
    height: 523px;
    background: #FFFFFF;
    margin-top: 150px !important;
}

.modal-body {
    padding: 0px;
    overflow: visible;
}

.contenedorImagen {
    float: right;
    width: 100%;
    padding: 50px;
    margin: 0;
    position: absolute;
    right: 0;
    height: 100%;
    overflow: hidden;
    margin-bottom: 150px !important;
}

.tituloContImg {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 52px;
    text-align: center;
    color: #000000;
}

.Formulario {
    margin-top: 40px;
}
.flechaforgot11{
    margin-top: -96px !important;
}
.labelpass {
    margin-top: 30px;
}
.margint80{
    margin-top: 80px;
}
.bolspan{
    font-weight: bold;
}
.forgotPass {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FF8600;
    cursor: pointer;
}

.memberSing {
    margin-top: 70px;
    text-align: center;
    cursor: pointer;
}

.memberSing a {
    color: #FF8600;
}

.botonNaranja {
    width: 100%;
    height: 46px;
    background: #FF8600;
    border: 1px solid #FF8600;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-top: 20px;
    border-radius: 2px;
    cursor: pointer ;
}

.lineaFinalultimate {
    margin-top: 25px;
}

.btnLogin {
    width: 73.11px;
    height: 30px;
    border: 1px solid #FF8600;
    box-sizing: border-box;
    margin-top: 4px;
}

.logoOn {
    width: 144.82px;
    height: 39px;
}

.abrir .modal-backdrop,
.abrir {
    display: none !important;
}

.classMargincampo {
    margin-top: 20px;
}

@media screen and (max-width: 1320px) {
    .modal.show .modal-dialog {
        /*   background-color: blue;*/
        width: calc(100% - 60px) !important;
        margin: 0 auto;
    }
}