<!-- Modal Sign in-->
<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">


                <div class="contenedorImagen">
                    <div *ngIf="Forgot==0">
                        <div class="tituloContImg">
                            Sign in to Onhive
                        </div>
                        <form #formData='ngForm' (ngSubmit)="onSubmit(formData)" class="Formulario">
                            <div class="fields container">
                                <div class="row">
                                    <div class="col-sm input-group">
                                        <input class='validate form-control  heigInput' id="exampleInputEmail1" type='email' (ngModel)="email" name='email' placeholder="E-mail" required/>
                                        <span class="textError">{{error}}</span>

                                    </div>
                                </div>
                                <div class="row classMargincampo">
                                    <div class="col-sm input-group">
                                        <input class='validate  form-control heigInput' type='password' id="exampleInputPassword1" (ngModel)="password" name='password' placeholder="Password" required/>
                                        <span class="textError">{{error2}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm input-group">
                                        <button [disabled]="!formData.valid" class="botonNaranja">
                                            Continue
                                        </button>
                                    </div>
                                </div>
                                <div class="row lineaFinalultimate">
                                    <div class="col-sm input-group">
                                        <div>
                                            <label class="checkbox">
                                                <input type="checkbox" class="checkbox__input"/>
                                                <span class="checkbox__checkmark"></span>
                                                <span class="remember_me">Remember me</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm input-group">
                                        <div class='forgotPass' (click)="Forgot1()">
                                            Forgot your password
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm memberSing">
                                        Not a member yet? <a>Sign up</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="center forgot" *ngIf="Forgot==1">
                        <svg (click)="Forgot2()" width="12" class="flechaforgot" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 1L1 11L11 21" stroke="black"/>
                            </svg>
                        <div class="tituloContImg">

                            Reset your password </div>
                        <p>Enter your Onhive.com email address so we can reset your password.</p>

                        <div class="z-depth-1 grey lighten-4 row" style="margin-top:50px; height: 150px;">
                            <form #formData='ngForm' (ngSubmit)="onRecuperation(formData)" class="col s12" method="post">
                                <div class="row ">
                                    <div class="col-sm input-group">

                                        <input class='validate form-control' id="exampleInputEmail1" type='email' (ngModel)="email" name='email' placeholder="Enter email" required/>
                                        <span class="textError">{{error}}</span>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm input-group">
                                        <button [disabled]="!formData.valid" class="botonNaranja">Next</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal Sign UP-->

<div class="container">
    <br>
    <div class="modal fade" id="mi_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">


                    <div class="contenedorImagen">
                        <div class="tituloContImg">
                            Sign up to Onhive
                        </div>

                        <div class="row">
                            <div class="col-sm input-group textNormal margint30">
                                Get started and choose the profile you want to join as.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm input-group textNormal textnomarMargin">
                                <div class="botonesOnsite margint30">

                                    <div class="  ">
                                        <button (click)="activarpro()" class="blueBtn small btnup">As a pro</button>
                                    </div>

                                    <div class=" ">
                                        <button (click)="activarhire()" class="blueBtn small btnup">As a hirer</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div *ngIf="activar==true">
                            <div class="row">
                                <div class="col-sm input-group textNormal margint30 colorGris">
                                    Join as a pro if you’re willing to find a project to work in.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm input-group">
                                    <button (click)="pro()" class="botonNaranja margint30">
                                            Continue
                                        </button>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="activar1==true">
                            <div class="row">
                                <div class="col-sm input-group textNormal margint30 colorGris">
                                    Join as a hire if you’re willing to find a project to work in.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm input-group">
                                    <button (click)="hire()" class="botonNaranja margint30" (click)="activarhire()">
                                            Continue
                                        </button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm memberSing margint30">
                                Already a member? <a> Sign in </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>