<h1 class="h1" style="margin-top: 100px;">h1 o .h1</h1>
<h2 class="h2">h2 o .h2</h2>
<h3 class="h3">h3 o .h3</h3>
<h4 class="h4">h4 o .h4</h4>
<div class="title">
    Enter your information:
</div>

<div class="fields">
    <div class="row">
        <div class="col-sm input-group"><input class="form-control ng-untouched ng-pristine ng-valid" id="name"
                name="name" ngmodel="" placeholder="First Name" type="text" ng-reflect-name="name" ng-reflect-model="">
        </div>
        <div class="col-sm input-group"><input class="form-control ng-untouched ng-pristine ng-valid" name="lastname"
                ngmodel="" placeholder="Last Name" type="text" ng-reflect-name="lastname" ng-reflect-model=""></div>
    </div>
</div>

<br>

<span _ngcontent-c4="" class="alertMessage">Passwords aren't the same</span>

<br><br><br><br><br><br>
<div _ngcontent-c5="" class="error errorh">
    <p _ngcontent-c5="">You can't change your email to the same address</p>
</div>

<div _ngcontent-c4="" class="title2">
    <p _ngcontent-c4="" class="changeColorBlue">titulo 2</p>
</div>
<div>
    <button class="next">next</button>
</div>
<div>
    <button class="back">back</button>
</div>
<div style="margin-top: 10px;">
    <button class="blueBtn small">blueBtn small</button>
</div>
<div style="margin-top: 10px;">
    <button class="blueBtn medium">blueBtn medium</button>
</div>
<div style="margin-top: 10px;">
    <button class="blueBtn large">blueBtn large</button>
</div>
<div style="margin: 10px">
    <button class="next changeButton">next o back y changeButton</button>
</div>
<div style="margin-top: 10px;">
    <button class="orangeBtn small">orangeBtn small</button>
</div>
<div style="margin-top: 10px;">
    <button class="orangeBtn medium">orangeBtn medium</button>
</div>
<div style="margin-top: 10px;">
    <button class="orangeBtn large">orangeBtn large</button>
</div>
<div style="margin-top: 10px;">
    <div class="input-group custom-file">
        <input type="file" class="custom-file-input customFile" accept=".pdf" id="customFile">
        <label for="customFile" class="custom-file-label">
            <div class="afterFile">Inspeccionar este elemento</div>
        </label>
    </div>
</div>