<h1 class="h1" style="margin-top: 100px;">h1 o .h1</h1>
<h2 class="h2">h2 o .h2</h2>
<h3 class="h3">h3 o .h3</h3>
<h4 class="h4">h4 o .h4</h4>
<div>
  <button class="next">next</button>
</div>
<div>
  <button class="back">back</button>
</div>
<div style="margin-top: 10px;">
  <button class="blueBtn small">blueBtn small</button>
</div>
<div style="margin-top: 10px;">
  <button class="blueBtn medium">blueBtn medium</button>
</div>
<div style="margin-top: 10px;">
  <button class="blueBtn large">blueBtn large</button>
</div>
<div style="margin: 10px">
  <button class="next changeButton">next o back y changeButton</button>
</div>
<div style="margin-top: 10px;">
  <button class="orangeBtn small">orangeBtn small</button>
</div>
<div style="margin-top: 10px;">
  <button class="orangeBtn medium">orangeBtn medium</button>
</div>
<div style="margin-top: 10px;">
  <button class="orangeBtn large">orangeBtn large</button>
</div>
