.project{
    height: auto;
    overflow: initial;
}
.projects{
    height: 267px;
    cursor: initial;
}
.projects::before{
    display: none;
}
.mt-23{
    margin-top: 23px;
}
.mr-10{
    margin-right: 10px;
}
.heightTemp{
    height: calc(100vh - 606px);
}