.project{
    height: auto;
    overflow: initial;
}
.projects{
    height: 267px;
    cursor: initial;
}
.projects::before{
    display: none;
}
.mt-23{
    margin-top: 23px;
}
.mr-10{
    margin-right: 10px;
}
.heightTemp{
   /* height: calc(100vh - 606px);*/
     height:600px ;

}
.btnInitialDash{

    width: auto;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btnInitialDash button{
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}
.moreInfo{
    position: absolute;
    right: 48px;
    top: 44px;
    text-decoration: underline;
    cursor: pointer;
}
