.project {
    height: auto;
    overflow: initial;
}

.projects {
    height: 267px;
    cursor: initial;
}

.projects::before {
    display: none;
}

.mt-23 {
    margin-top: 23px;
}

.mr-10 {
    margin-right: 10px;
}

.heightTemp {
    /* height: calc(100vh - 606px);*/
    height: 600px;
}

.btnInitialDash {
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

.btnInitialDash button {
    margin-top: 35px;
}

.projects .normalText span:last-child label {
    display: none;
}

.moreInfo {
    position: absolute;
    right: 48px;
    top: 44px;
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 470px) {
    .projects {
        height: fit-content;
    }
    .moreInfo {
        right: 10px;
        top: 22px;
    }
    .projects .col-sm-6 p:nth-child(3) {
        line-height: 130%;
    }
    .mb-32 {
        margin-bottom: 32px;
    }
}