<img class="fund-image my-5 py-5" src="../../../assets/imagenes/Profile_hire.svg" alt="">
<div class="container my-5 py-5">
  <div class="row">
    <div class="col-md-4 mt-4">
      <div class="image-profile">
        <img src="../../../../../assets/iconos/Ellipse 6.svg" alt="">
      </div>
      <div class="options-profile mt-4">
        <p class="name-profile my-2">Gordon Freeman</p>
        <p class="option-profile my-2"><a href="">Profile overall</a></p>
        <p class="option-profile active my-2"><a href="">Edit Profile</a></p>
      </div>
    </div>
    <div class="col-md-8">
      <div class="info container">
        <p>Account Information</p>
      </div>
      <div class="fields container">
        <div class="row">
          <div class="col-sm input-group">
            <input required type="text" class="input  form-control" placeholder="First Name" name="pFirstName" id="pFirstName" minlength="4">
          </div>
          <div class="col-sm input-group">
            <input required type="text" class="input  form-control" placeholder="Last Name" id="pLastName" name="pLastName">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-6 input-group">
            <input required type="text" class="input  form-control" placeholder="E-mail" name="pEmail" id="pEmail">
          </div>
        </div>
        <div class="row my-3">
          <div class="col-md-6">
            <button type='submit' name="button" class="btn btn-outline-warning update">Update</button>
          </div>
        </div>
        <hr class="separator my-4">
      </div>
      <div class="info container">
        <p>Update password</p>
      </div>
      <div class="fields container">
        <div class="row">
          <div class="col-sm-6 input-group">
            <input required type="text" class="input form-control" placeholder="Current password" name="ppassword" id="ppassword" minlength="4">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-6 input-group">
            <input required type="text" class="input  form-control" placeholder="New password" name="newpassword" id="newpassword">
          </div>
          <div class="col-sm-6 input-group">
            <input required type="text" class="input  form-control" placeholder="Confirm new password" name="conewpassword" id="conewpassword">
          </div>
        </div>
        <hr class="separator my-4">
      </div>
      <div class="info container">
        <p>Profile picture</p>
      </div>
      <div class="fields container">
        <div class="row">
          <div class="col-sm-12 input-group">
            <img src="../../../../../assets/iconos/Ellipse 7.svg" alt="">
            <button type='submit' name="upload-file" class="btn btn-outline-warning update upload ml-5 mt-2">Upload file</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>