.update{
    background-color: #010973;
    color: #ffffff;
    border-color: #010973;
    width: 134px;
    height: 47px;    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.04em;
    border-radius: 2px;
}
.separator{
    border: 1px solid #9D9D9D;
    width: 100%;
}