<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="cont">
        <div class="profile" [ngStyle]="{'background-image': 'url('+imageP+')'}"></div>
        <div class="textw">
          <p>{{name}} {{lastName}}</p>
        </div>
        <p class="optionSelect" (click)="selectOption(1)" [class.noOption]="select == 2">Profile overall</p>
        <p class="optionSelect" (click)="selectOption(2)" [class.noOption]="select == 1">Edit profile</p>
      </div>
    </div>
    <div class="col-sm-8 divcol">
      <div *ngIf="select == 1">
        <div class="title2">
          <p class="changeColorBlue">Account Information</p>
        </div>
        <form action="">
          <div class="row fields">
            <div class="input-group col-sm">
              <input type="text" class="form-control" [placeholder]="name">
            </div>
            <div class="input-group col-sm">
              <input type="text" class="form-control" [placeholder]="lastName">
            </div>
          </div>
          <div class="row fields">
            <div class="input-group col-sm">
              <input type="email" class="form-control" [placeholder]="email" id="email">
            </div>
            <div class="input-group col-sm">
              <input type="text" hidden>
            </div>
          </div>
          <button class="blueBtn small mt-12">Update</button>
        </form>
        <hr class="hr mt-30">
        <div class="title2">
          <p class="changeColorBlue">Update password</p>
        </div>
        <form action="">
          <div class="row fields">
            <div class="input-group col-sm">
              <input type="password" class="form-control" placeholder="Current password" id="currentpassword" name="currentpassword">
            </div>
            <div class="input-group col-sm">
              <input type="text" class="form-control" hidden>
            </div>
          </div>
          <div class="row fields">
            <div class="input-group col-sm">
              <input type="password" class="form-control" placeholder="New password" id="newpassword" name="newpassword">
            </div>
            <div class="input-group col-sm">
              <input type="password" class="form-control" placeholder="Confirm new password" id="confirpassword" name="confirpassword">
            </div>
          </div>
          <button class="blueBtn small mt-12">Update</button>
        </form>
        <hr class="hr mt-30">
        <div class="title2">
          <p class="changeColorBlue">Profile picture</p>
        </div>
        <div class="fields flex">
          <div class="profile mini" [ngStyle]="{'background-image': 'url('+imageP+')'}"></div>
          <input type="file" class="custom-file-input customFile" id="customProfile" accept=".jpg, .jpeg, .png, .svg"
                name="certificate" (change)="imageProfile($event)">
          <label for="customProfile" class="blueBtn medium ml-30 labelButton">Upload file</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="textv" [ngClass]="righttv">
  <p>{{text}}</p>
</div>