<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="cont">
        <div class="profile" [ngStyle]="{ 'background-image': 'url(' + imageP + ')' }"></div>
        <div class="textw">
          <p>{{ profile.name }} {{ profile.lastname }} </p>
        </div>
        <p class="optionSelect" (click)="selectOption(2)" [class.noOption]="select == 2">
          Profile overall
        </p>
        <p class="optionSelect" (click)="selectOption(1)" [class.noOption]="select == 1">
          Edit profile
        </p>
      </div>
    </div>
    <div class="col-sm-8 divcol">
      <div *ngIf="select == 1">
        <div class="title2">
          <p class="changeColorBlue">Account Information</p>
        </div>
        <form #aF="ngForm" (ngSubmit)="accountForm(aF)" action="">
          <div class="row fields">
            <div class="input-group col-sm">
              <input type="text" class="form-control" id="name" name="name" #name="ngModel" ngModel
                [(ngModel)]="profile.name" />
            </div>
            <div class="input-group col-sm">
              <input type="text" class="form-control" id="lastname" name="lastname" #lastname="ngModel" ngModel
                [(ngModel)]="profile.lastname" />
            </div>
          </div>
          <div class="row fields">
            <!--div class="input-group col-sm">
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                #email="ngModel"
                ngModel
                [(ngModel)]="profile.email"
                [class.errorInput]="!emailVal"
              />
            </div-->
            <div class="input-group col-sm">
              <input type="email" class="form-control" id="email" name="email" #email="ngModel" ngModel
                [(ngModel)]="profile.email" [placeholder]="profile.email" [class.errorInput]="!emailVal">
              <span class="textError" [hidden]="emailVal">Wrong email</span>
            </div>
            <div class="input-group col-sm">
              <input type="text" hidden>
            </div>

          </div>
          <button type="submit" class="blueBtn small mt-12" id="btnAccount"
            [class.disabled]="name.value == '' || lastname.value == '' || email.value == '' "
            [disabled]=" name.value == '' && lastname.value == '' && email.value == '' ">
            Update
          </button>
        </form>
        <hr class="hr mt-30" />
        <div class="title2">
          <p class="changeColorBlue">Update password</p>
        </div>
        <form #pF="ngForm" (ngSubmit)="passForm(pF)" action="">
          <div class="row fields">
            <div class="input-group col-sm">
              <input type="password" [class.errorInput]="cPass.value != profile.password && cPass.value != '' "
                [class.correctInput]=" cPass.value == password && cPass.value != ''" class="form-control"
                placeholder="Current password" name="cPass" id="cPass" #cPass="ngModel" ngModel />
              <span class="textError" [hidden]="cPass.value == password || cPass.value == ''">It isn't the current
                password</span>
            </div>
            <div class="input-group col-sm">
              <input type="text" class="form-control" hidden />
            </div>
          </div>
          <div class="row fields">
            <div class="input-group col-sm">
              <input type="password" [class.errorInput]=" pass1.value.length < 6 && pass1.value != '' "
                [class.correctInput]=" pass1.value.length > 5 && pass1.value != ''" class="form-control"
                placeholder="New password" name="pass1" id="pass1" ngModel #pass1="ngModel" />
              <span class="textError" [hidden]="pass1.value.length > 5 || pass1.value == ''">Password must be at leat 6
                characters.</span>
            </div>
            <div class="input-group col-sm">
              <input type="password" [class.correctInput]="pass1.value?.length > 5  &&
                  pass2.value == pass1.value && pass2.value != ''
                " [class.errorInput]="
                  pass2.value != pass1.value && pass2.value != '' && pass1.value?.length < 6
                " class="form-control" placeholder="Confirm new password" name="pass2" id="pass2" ngModel
                #pass2="ngModel" />
              <span class="textError" [hidden]="pass2.value == pass1.value || pass2.value == ''">Password doesn’t
                match.</span>
              <span [hidden]="pass2.value?.length > 5 || pass2.value == ''" class="textError">Password must be at leat 6
                characters.</span>
            </div>
          </div>
          <button type="submit" class="blueBtn small mt-12" id="buttonPass" [class.disabled]="
              cPass.value == '' ||
              pass1.value == '' ||
              pass2.value == '' ||
              pass1.value != pass2.value ||
              cPass.value != password ||
              pass1.value?.length < 6
            " [disabled]="
              cPass.value == '' ||
              pass1.value == '' ||
              pass2.value == '' ||
              pass1.value != pass2.value ||
              cPass.value != password ||
              pass1.value?.length < 6
            ">
            Update
          </button>
          <div class="alert alert-success" [class.alertInitial]="alert == 1" role="alert" style="margin-top: 20px;">
            Password updated correctly!
          </div>
        </form>
        <hr class="hr mt-30" />
        <div class="title2">
          <p class="changeColorBlue">Profile picture</p>
        </div>
        <div class="fields flex">
          <div class="profile mini" [ngStyle]="{ 'background-image': 'url(' + imageP + ')' }"></div>
          <input type="file" class="custom-file-input customFile" id="customProfile" accept=".jpg, .jpeg, .png, .svg"
            name="certificate" (change)="imageProfile($event)" />
          <label for="customProfile" class="blueBtn medium ml-30 labelButton">Upload file</label>
        </div>
      </div>
      <div class="col-sm-12 divcol">
        <div *ngIf="select == 2">
          <div class="overall">
            <div class="row pt-5 pl-3">
              <div class="col-sm-6">
                <p class="title3 py-2">Projects posted</p>
                {{ projects?.length }}
              </div>
              <div class="col-sm-6">
                <p class="title3 py-2">Projects completed</p>
                {{ projectsCompleted?.length }}
              </div>
            </div>
            <div class="row py-5 pl-3">
              <div class="col-sm-6">
                <p class="title3 py-2">Profile completed</p>
                {{ profileCompleted }}
              </div>
              <div class="col-sm-6 mt-2">
                <span class="py-2" [class]="emailVerified ? 'verifiedU':'notVerified'">
                  <img [src]="emailVerified ? '../../../../../assets/iconos/verified.svg' : ''" />
                  {{emailVerified == true ? 'Verified user':'User not verified'}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="textv" [ngClass]="righttv">
    <p>{{ text }}</p>
  </div>
</div>