<section class="container" [hidden]="section > 0">
  <div class="title">
    <p>Verify your email</p>
  </div>
  <div class="texts2">
    <p>We have sent you an email to verify your email address, please check your inbox. If you haven't received
      the email, resend to verify.</p>
  </div>
  <div class="buttons container">
    <button class="btn btn-outline-warning back changeButton" (click)="add()">Change email</button>
    <button class="btn btn-outline-warning next" (click)="resend()">Resend</button>
  </div>
</section>
<section class="container" [hidden]="section < 1">
  <form #updateForm="ngForm" (ngSubmit)="updateEmail(updateForm)" action="">
    <div class="title">
      <p>Email</p>
    </div>
    <div class="error" [class.errorh]="error">
      <p>You can't change your email to the same address</p>
    </div>
    <div class="fields2">
      <div class="row">
        <div class="col-sm input-group">
          <input type="email" #email="ngModel" name="email" placeholder="New Email" class="form-control" ngModel>
        </div>
        <div class="col-sm input-group">
          <input type="password" #pass="ngModel" name="pass" placeholder="Current Password" class="form-control" ngModel>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button type="submit" class="btn btn-outline-warning next large">Update email address</button>
    </div>
  </form>
</section>
<div class="textv">
  <p>{{text[section]}}</p>
</div>