<nav>
  <input type="checkbox" id="check-menu">
  <label for="check-menu">
    <i class="fas fa-bars" id="btn-menu-active"></i>
    <i class="fas fa-times" id="btn-menu-cancel"></i>
  </label>
  <a href="#"><img src="assets/imagenes/Logo.svg" alt="Logo OnSite"></a>
  <!-- <div class="onsiteText">Lorem impsum dolor seat</div> -->
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Marketplace</a></li>
    <li><a href="#">Join as a OnSide Pro</a></li>
    <li><a href="#">My Account</a></li>
    <li *ngIf="Sesion==false" class="nav-item btnLogin" data-toggle="modal" data-target="#exampleModal">
      <a class="nav-link ">Login</a>
    </li>
    <li *ngIf="Sesion==true" class="nav-item btnLogin" data-toggle="modal" data-target="#exampleModal">
      <a class="nav-link " (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-dark {{m}}">
  <a class="navbar-brand" href="#"><img src="assets/imagenes/Logo.svg" class="logoOn" alt="Logo OnSite"></a>
  <div class="onsiteText">Lorem impsum dolor seat</div>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <a class="nav-link ">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Marketplace</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Join as a OnSide Pro</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">My Account</a>
    </li>
    <li *ngIf="Sesion==false" class="nav-item btnLogin" data-toggle="modal" data-target="#exampleModal">
      <a class="nav-link ">Login</a>
    </li>
    <li *ngIf="Sesion==true" class="nav-item btnLogin" data-toggle="modal" data-target="#exampleModal">
      <a class="nav-link " (click)="logout()">Logout</a>
    </li>
  </ul>
</nav> -->
<app-login></app-login>