     .backgroundWhiteMenu {
         width: 100%;
         margin: 0 auto;
         height: 100%;
     }
     .menu li a:hover {
        color: #9D9D9D;
     }
     .is-active{
        color: #9D9D9D !important;
     }
     nav {
         position: fixed;
         z-index: 20;
         height: 90px;
         background-color: #ffffff;
         letter-spacing: 0.04em;
         width: 100%;
         top: 0;
         box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.1);
     }
     .personMenu{
         display: none;
         cursor: pointer;
         top: 50%;
         position: relative;
         -webkit-transform: translateY(-50%);
         transform: translateY(-50%);
         right: 0;
         float: right;
     }
     .personMenu:hover{
         opacity: 0.7;
     }
     .btnFinalSignUp {
         margin-right: 0px !important;
         line-height: normal !important;
     }
     
     .text-onsite {
         display: block;
     }
     
     .inferiorfooter {
         height: 50px;
     }
     
     .flechaUsuario {
         margin-left: 10px;
         cursor: pointer;
     }
     .flechaUsuario:hover svg {
         opacity: 0.7;
     }
     
     .bgpodpad {
         background-color: white;
         width: 254px;
         position: absolute;
         right: 0;
         margin-right: 10px;
         margin-top: 20px;
     }
     
     .bgpodpad li {
         display: block !important;
         line-height: 50px !important;
     }
     
     .bgpodpad::before {
         content: "";
         border-bottom: 10px solid white;
         border-right: 10px solid transparent;
         border-left: 10px solid transparent;
         position: absolute;
         right: 0;
         margin-top: -10px;
         margin-right: 10px;
     }
     
     .imagenUserMenu {
         width: 50px;
         height: 50px;
         border-radius: 50%;
         float: left;
         margin-top: 15px;
         margin-right: 8px;
         background: #ECECEC;
         background-size: cover;
         background-position: center;
         background-repeat: none;
     }
     
     nav .aimg {
         position: absolute;
         height: 65px;
         top: 50%;
         transform: translateY(-50%);
         float: left;
         position: relative;
     }
     
     .aimg2.Pro {
         display: block;
     }
     
     .aimg2.Hirer {
         display: block;
         color: #FF8600;
     }
     
     .aimg2 {
         display: none;
         float: left;
         top: 50%;
         position: relative;
         transform: translateY(-50%);
         font-family: 'Open Sans', sans-serif;
         font-style: normal;
         font-weight: 800;
         font-size: 20px;
         line-height: 27px;
         text-align: center;
         letter-spacing: 0.04em;
         color: #010973;
         margin-left: 25px;
         border-left: 1px solid #000000;
         padding-left: 25px;
         height: 52px;
         line-height: 52px;
     }
     
     nav ul {
         top: 50%;
         transform: translateY(-50%);
         position: relative;
         right: 0;
         float: right;
     }
     
     nav ul li {
         display: inline-block;
         line-height: 80px;
         margin: 0 15px;
         text-decoration-line: none;
     }
     
     nav ul li a {
         position: relative;
         color: #000000;
         font-family: 'Open Sans', sans-serif;
         font-style: normal;
         font-weight: 800;
         font-size: 15px;
         padding: 5px 0;
     }
     
     .singupAzul {
         background-color: #010973;
         color: #FFFFFF !important;
         padding-right: 30px !important;
         padding-left: 30px !important;
     }
     
     .top-nav .menu-icon {
         cursor: pointer;
         float: left;
         top: 50%;
         position: relative;
         transform: translateY(-50%);
         padding: 8px 0px 8px 0px;
     }
     .top-nav .menu-icon:hover {
        opacity: 0.7;
     }
     
     .top-nav .menu-icon .navicon {
         background: #FF8600;
         display: block;
         height: 2px;
         position: relative;
         width: 1.625rem;
         border-radius: 2px;
     }
     
     .top-nav .menu-icon .navicon:before,
     .top-nav .menu-icon .navicon:after {
         background: #FF8600;
         content: "";
         display: block;
         height: 100%;
         position: absolute;
         transition: all 0.2s ease-out;
         width: 100%;
         border-radius: 2px;
     }
     
     .top-nav .menu-icon .navicon:before {
         top: 7px;
     }
     
     .top-nav .menu-icon .navicon:after {
         top: -7px;
     }
     
     .top-nav .menu-btn {
         display: none;
     }
     
     
     .top-nav .menu-btn:checked~.menu {
         max-height: 100vh;
         height: 100vh;
     }
     
     .top-nav .menu-btn:checked~.menu-icon .navicon {
         background: transparent;
     }
     
     .top-nav .menu-btn:checked~.menu-icon .navicon:before {
         transform: rotate(-45deg);
     }
     
     .top-nav .menu-btn:checked~.menu-icon .navicon:after {
         transform: rotate(45deg);
     }
     
     .top-nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
     .top-nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
         top: 0;
     }
     
     .menuSelect{
        color: #9D9D9D !important;
    }
     @media (min-width: 901px) {
         .top-nav li {
             margin: 0 10px;
         }
         .top-nav .menu-icon {
             display: none;
         }
     }
     
     @media (max-width: 901px) {
         .menu {
             list-style: none;
             overflow: hidden;
             display: flex;
             flex-direction: column;
             align-items: flex-start;
             width: 100%;
             max-height: 0;
             height: 100%;
             transition: max-height 0.2s ease-out;
             top: 0 !important;
             transform: none !important;
             position: absolute !important;
             background: white;
             margin-top: 90px;
             box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.1);
         }
        
         .menu li {
            width: calc(100% - 60px) !important;
            margin: 0 auto !important;
            border-bottom: 1px solid #9D9D9D ;
         }
         nav .aimg img {
             width: 155px;
         }
      
         .aimg{
            left: 50% !important;
            transform: translate(-50%,-50%) !important;
            top: 50% !important;
            height: auto !important;
            position: absolute !important;
         }
         .personMenu{
            display: block;
        }
        .btnFinalSignUp{
            line-height: 80px !important;
        }
        .btnFinalSignUp .blueBtn{ 
            background: none;
            color: black;
            width: auto;
            height: auto;
            font-size: 15px !important;
        
        }
        .btnFinalSignUp .blueBtn:hover{
            border: none !important;
            color:#9D9D9D !important;

        }
     }
     
     @media (max-width: 500px) {
        nav .aimg img {
            width: 121px;
            height: 35px;
        }
        nav{
            height: 60px !important;
        }
        .menu{
            margin-top: 60px !important;
        }
     
     }