
<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#"><img src="../../assets/imagenes/Logo.svg" class="logoOn" alt="Logo OnSite"></a>
  <div class="onsiteText">Lorem impsum dolor seat</div>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Marketplace</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Join as a OnSide Pro</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">My Account</a>
    </li>
    <li class="nav-item btnLogin" data-toggle="modal" data-target="#exampleModal">
      <a class="nav-link ">Login</a>
    </li>

  </ul>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    <div class="imagenModaLogin"></div>
    <div class="contenedorImagen">
      <div class="tituloContImg">
        <span>Lorem</span> ipsum dolor <span>sit amet</span>
      </div>

      <div class="botonesOnsite">
        <div class="">
          As a Pro
        </div>
        <div class="">
          As a Hire
        </div>
      </div>
      <div class="Formulario">
        <div class="fields container">
          <label for="">Username</label>
          <div class="row">

            <div class="col-sm input-group">
              <div class="input-group-prepend">
                <div class="icon_img usuarioNaranja"></div>
              </div>
              <input type="text" class="form-control" >
            </div>
          </div>
            <label class="labelpass" for="">Password</label>
          <div class="row ">

            <div class="col-sm input-group">
              <div class="input-group-prepend">
                <div class="icon_img llaveNaranja"></div>
              </div>
              <input type="text" class="form-control" >
            </div>

          </div>



                      <div class="row">
                        <div class="col-sm input-group">
                        <div class="forgotPass">
                          Forgot your password
                        </div>
                        </div>
                        <div class="col-sm input-group">
                        <div class="botonNaranja">

                        </div>
                        </div>
                      </div>

                      
        </div>
      </div>
    </div>
      </div>

    </div>
  </div>
</div>
